<div class="footer">
  <div class="footer-grid-haut">
    <div>
      <span><%= link_to "Qui somme-nous", "/equipe.html", class: "cgu" %></span>
      <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
      <span><%= link_to "Tarifs", "/tarifs.html", class: "cgu" %></span>
      <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
      <span><%= link_to "Fonctionnalités", "/fonctionnalites.html", class: "cgu" %></span>
      <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
      <span><%= link_to "Sécurité", "/securite.html", class: "cgu" %></span>
      <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
      <span><%= link_to "CGU", "/mentionlegale", class: "cgu" %></span>
      <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
      <span id="contact">contact@bimedoc.com</span>
    </div>
  </div>
  <div class="footer-grid-bas">
    <p>Copyright © 2018 Bimedoc, tous droits réservés</p>
  </div>
</div>


