  <nav class="navbar-bimedoc">
      <div>
        <a href="/bimedoc" class="">
          <%= image_tag "logo.svg", id:"logo" %>
        </a>
        <%= link_to "Fonctionnalités", "/fonctionnalites.html", class: "link" %>
        <%= link_to "Tarifs", "/tarifs.html", class: "link" %>
        <%= link_to "l'équipe", "/equipe.html", class: "link" %>
        <%= link_to "La sécurité", " ", class: "link" %>
      </div>
      <div>
        <%= link_to "Connexion", " ", class: "link" %>
        <%= link_to "Inscription", " ", class: "btn btn-primary" %>
      </div>
    </nav>
