<nav class="navbar navbar-default navbar-fixed-top navbar-bimedoc">
  <div class="contact_equipe_commerciale pr-2 pt-1 pb-1">
    <h5>Contactez notre équipe commerciale au <b>04 82 81 00 78</b></h5>
  </div>
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="">
          <%= image_tag "logo.svg", id:"logo" %>
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><%= link_to "Fonctionnalités", "/fonctionnalites.html", class: "link" %></li>
        <li><%= link_to "Comment ça marche ?", "pharmacie_clinique.html", class: "link" %></li>
        <li><%= link_to "Editeurs", "https://medium.com/bimedoc", class: "link" %></li>
        <li><%= link_to "Blog", "https://medium.com/bimedoc", class: "link", target: "_blank"%></li>
        <li><%= link_to "On recrute", "https://h7.welcomekit.co/companies/bimedoc", class: "link", target: "_blank" %></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Connexion", "https://app.bimedoc.com", class: "link white", target: "_blank" %></li>
        <li><%= link_to "S'inscrire", "https://app.bimedoc.com/auth/signup", class: "btn btn-primary", target: "_blank" %></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

