<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!--     <meta name="google-site-verification" content="XWo3hIJNSm1ehCt0PE_59e5fjjlR0UdfYCyxR4ZMsjc" /> -->

    <!-- Use the title from a page's frontmatter if it has one -->
    <title>Bimedoc</title>
    <meta name="Description" content="Les activités de pharmacie clinique en toute simplicité pour les officinaux et les hospitaliers. Bilan de médication, conciliation médicamenteuse, entretien pharmaceutique">
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application" %>
    <%= favicon_tag 'images/Favicon.png' %>

<!--    meta facebook -->
    <meta property="og:title" content="Bimedoc.com : Les activités de pharmacie clinique en toute simplicité">
    <meta property="og:url" content="http://www.bimedoc.com">
    <meta property="og:site_name" content="Bimedoc.com">
    <meta property="og:description" content="Les activités de pharmacie clinique en toute simplicité pour les officinaux et les hospitaliers. Bilan de médication, conciliation médicamenteuse, entretien pharmaceutique">
    <meta property="og:image" content="http://bimedoc.com/meta_facebook.svg">

<!-- meta twitter -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="Bimedoc.com : Les activités de pharmacie clinique en toute simplicité">
    <meta name="twitter:url" content="Bimedoc.com">
    <meta name="twitter:description" content="Les activités de pharmacie clinique en toute simplicité pour les officinaux et les hospitaliers. Bilan de médication, conciliation médicamenteuse, entretien pharmaceutique">
    <meta name="twitter:image" content="http://bimedoc.com/meta_facebook.svg">

    <script type="text/javascript"> window.$crisp=[];window.CRISP_WEBSITE_ID="18f947f7-e378-44d6-9060-b041f5e8a11e";(function(){ d=document;s=d.createElement("script"); s.src="https://client.crisp.chat/l.js"; s.async=1;d.getElementsByTagName("head")[0].appendChild(s);})(); </script>

  </head>

  <body class="<%= page_classes  %> background_white">

    <%= partial "layouts/navbar" %>

    <%= yield %>

    <%= partial "layouts/footer" %>

  </body>
</html>
