<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Use the title from a page's frontmatter if it has one -->
    <title><%= current_page.data.title %></title>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application" %>
    <%= favicon_tag 'images/favicon.png' %>
  </head>
  <body>

  <nav class="navbar-bimedoc">
      <div>
        <%= image_tag "logo.png", id: "logo" %>
        <%= link_to "Fonctionnalités", " ", class: "link" %>
        <%= link_to "Tarifs", " ", class: "link" %>
        <%= link_to "l'équipe", " ", class: "link" %>
        <%= link_to "La sécurité", " ", class: "link" %>
      </div>
      <div>
        <%= link_to "Connexion", " ", class: "link" %>
        <%= link_to "Inscription", " ", class: "btn btn-primary" %>
      </div>
    </nav>



    <%= yield %>


  <div class="footer">




  </div>


  </body>
</html>
