<div class="mt-10 mb-10 container">
<!--   <div class="text-center mb-2">
    <%= image_tag "medeo.png"%>
  </div> -->
  <!-- separation de la fenetre en deux colonnes -->
  <div style="float:left;width:70%;">
    <div class="pb-1 pl-2 pr-2">

      <h2>Medeo</h2>
      <h4 class="pt-1 pb-1">La téléconsultation en pharmacie</h4>
      <p>Avec Medeo, devenez un acteur incontournable dans le parcours de soins du patient, en proposant de la téléconsultation dans votre pharmacie. Le patient peut obtenir une consultation avec un médecin dans de brefs délais et récupérer ses médicaments directement à l’officine. </p>

    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" style="height: 40vh">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
        <div class="item active" style="height: 40vh">
          <%= image_tag "logo_medeo.png" %>
        </div>
        <div class="item" style="height: 40vh">
          <%= image_tag "teleconsultation_pharmacien_medeo.png" %>
        </div>
        <div class="item" style="height: 40vh">
          <img src="https://uploads-ssl.webflow.com/5e3081dbc67f822b5d3fdd17/5e3d809145461328bb485fa7_Capture%20d%E2%80%99e%CC%81cran%202020-02-07%20a%CC%80%2016.21.16.png" alt="" >
        </div>
      </div>

      <!-- Controls -->
      <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Précedent</span>
      </a>
      <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Suivnt</span>
      </a>
    </div>

      <h3 class="mb-1 pt-1">Fonctionnalités</h3>
      <div class=flex>
          <i class="fal fa-check oval_14px fa-xs"></i><p>Logiciel de gestion de patients avec accès à la téléconsultation</p>
      </div>
      <div class=flex>
          <i class="fal fa-check oval_14px fa-xs"></i><p>Dispositifs médicaux connectés pour effectuer des préconsultations</p>
      </div>
      <div class=flex>
          <i class="fal fa-check oval_14px fa-xs"></i><p>Accès à Médecin direct (service de TLC disponible 24/7)</p>
      </div>
<!--       <div class="deux-boutons-gauche mt-2">
        <%= link_to " Demander une démo", "/demo.html", class: "btn-blue btn btn-primary"%>
        <%= link_to "En savoir plus", "https://www.medeo-health.com/pharmaciens", class: "btn-white btn", target: "_blank"%>
      </div> -->
    </div>
    <div class=" pt-1 pb-1 pl-2 pr-2">
      <h3 class="mb-1">Apport de l’intégration Medeo < > Bimedoc</h3>
      <div class=flex>
       <i class="fal fa-check oval_14px fa-xs"></i><p>Ouverture et création automatique d'une téléconsultation dans Medeo depuis Bimedoc</p>
      </div>
      <div class=flex>
       <i class="fal fa-check oval_14px fa-xs"></i><p>Ouverture et création automatique d'un bilan de médication dans Bimedoc depuis Medeo</p>
      </div>
      <div class=flex>
        <i class="fal fa-check oval_14px fa-xs"></i><p>Envoi des plans de prise dans l’application Medeo</p>
      </div>
    </div>
    <div class="  pt-1 pb-2 pl-2 pr-2">
      <h3>Medeo s’intègre à ces fonctionnalités Bimedoc</h3>
      <span class="label label-default">Plan de prise</span>
      <span class="label label-default">BPM</span>
      <span class="label label-default">Flux d'actualité</span>
    </div>
  </div>
  <div style="float:right;width:20%;">
<!--       <h3>Détails</h3> -->
      <h5 class="pt-5">Fournisseur</h5>
      <h6>Medeo</h6>
      <h5 class="pt-2 pb-1">Catégorie</h5>
      <span class="label label-default">Téléconsultation</span>
      <h5 class="pt-3">Exigences</h5>
      <h6>Abonnement Bimedoc</h6>
      <h6>Abonnement Medeo payant</h6>
      <h5 class="pt-2">Tarifs</h5>
      <h6 class="pb-2">29€ HT/ mois</h6>
      <%= link_to " Demander une démo", "https://meetings.hubspot.com/medeo-teleconsultation/bimedoc", class: "btn-blue btn btn-primary", target:"_blank" %>
  </div>
</div>
