  <div class="hero">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <div class="hero-description">
          <h1><span id="color-blue">Les activités de pharmacie clinique en toute simplicité</span> pour les officinaux et les hospitaliers</h1>
          <%= link_to " 👉 Premiers pas avec Bimedoc", "/fonctionnalites.html", class: "btn-purple btn btn-primary" %>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
       <!--  <div class="hero-image">
          <%= image_tag "hero.svg", id: "hero-image" %>
        </div> -->
        <div class="hero-asset hide_on_mobile">
          <%= image_tag "bimedoc-preview.svg", id: "hero-bleu" %>
        </div>
      </div>
    </div>
  </div>


  <div>
    <a href="https://analyse.bimedoc.com/interface/analysis" target="_blank" class="hide_on_mobile">
      <%= image_tag "bimedoc-header-recherche.svg", id: "image-header" %>
    </a>
  </div>
    <div>
    <a href="https://analyse.bimedoc.com/interface/analysis" target="_blank" class="hide_on_destkop">
      <%= image_tag "bimedoc-header-recherche-mobile.svg", id: "image-header-mobile" %>
    </a>
  </div>


  <li class="dropdown link">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Le produit <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><%= link_to "Fonctionnalités", "/fonctionnalites.html", class: "link" %></li>
            <li><%= link_to "La sécurité", "/securite.html", class: "link" %></li>
            <li><%= link_to "L'équipe", "/equipe.html", class: "link" %></li>
          </ul>
        </li>



    <div class="bloc-cards">
      <div class="sentence-developpe-par">
        <h2 style="font-weight:bold">Développé par des pharmaciens <span id="color-blue">pour des pharmaciens</span></h2>
      </div>
      <div class="cards card-1">
        <a href="/bilanmedication.html">
          <%= image_tag "check.svg"%>
          <h3>Bilan de médication</h3>
        </a>
      </div>
      <div class="cards card-2">
        <%= image_tag "prescription.svg"%>
        <h3>Analyse d'ordonnance</h3>
      </div>
      <div class="cards card-3">
        <%= image_tag "dossier.svg"%>
        <h3>Conciliation médicamenteuse</h3>
      </div>
      <div class="cards card-4">
        <%= image_tag "sms.svg" %>
        <h3>Entretien pharmaceutique</h3>
      </div>
      <div class="listes">
        <div class="liste">
          <h3>1 - Gagnez du temps</h3>
          <p>Déclaration automatique au portail AmeliPro, pré-saisie des interventions pharmaceutiques.</p>
        </div>
        <div class="liste">
          <h3>2 - Bénéficiez d’un outil performant</h3>
          <p>Solution permettant de réaliser l'ensemble des activités de pharmacie clinique et de favoriser la pertinence des avis pharmaceutiques</p>
        </div>
        <div class="liste">
          <h3>3 - Collaborez avec les professionnels de santé</h3>
          <p>Envoyez en un clic vos avis pharmaceutiques aux différents professionnels de santé.</p>
        </div>
      </div>
      <div class="premier-pas">
        <%= link_to " 👉 Premiers pas avec Bimedoc", "/fonctionnalites.html", class: "btn-purple btn btn-primary" %>
        <p>Tout sur le service, les fonctions et les prix.</p>
      </div>
    </div>

    <div class="boxe_professionnels">
      <div class="row">
        <div class="col-xs-12 col-sm-3">
          <div class="cards">
            <%= image_tag "check.svg"%>
            <h3>Bilan de médication</h3>
          </div>
        </div>
        <div class="col-xs-12 col-sm-3">
          <div class="cards">
            <%= image_tag "prescription.svg"%>
            <h3>Analyse d'ordonnance</h3>
          </div>
        </div>
        <div class="col-xs-12 col-sm-3">
          <div class="cards">
            <%= image_tag "dossier.svg"%>
            <h3>Conciliation médicamenteuse</h3>
          </div>
        </div>
        <div class="col-xs-12 col-sm-3">
          <div class="cards">
            <%= image_tag "dossier.svg"%>
            <h3>Lien ville-hôpital</h3>
          </div>
        </div>
      </div>
    </div>


    <div class="services-personnalises">
      <div class="row">
        <div class="col-xs-12 col-sm-12">
          <div class="service-personnalise">
              <h2>Faites appel à Bimedoc</h2>
              <h2 id="color-blue">pour des services personnalisés</h2>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6">
          <div class="cards-partenaires enseignement">
            <%= image_tag "stylo.svg"%>
            <p id="green-bold">Vous êtes enseignant et vous souhaitez utiliser Bimedoc pour vos étudiants ?</p>
            <p id="texte">Bimedoc est également un outil  destiné à l’enseignement universitaire des étudiants en pharmacie et en médecine ainsi que pour la formation continue post-universitaire des médecins et pharmaciens. </p>
            <a href="mailto:contact@bimedoc.com" class="btn-gray btn btn-primary">Contactez-nous</a>
          </div>
        </div>

        <div class="col-xs-12 col-sm-6">
          <div class="cards-partenaires projet">
            <%= image_tag "etoile.svg"%>
            <p id="green-bold">Vous souhaitez créer une activité d’accompagnement pharmaceutique dans le cadre d’un projet ?</p>
            <p>Bimedoc peut vous accompagner dans la recherche clinique ou la mise en place d’une nouvelle activité dans votre officine ou votre hôpital.</p>
            <a href="mailto:contact@bimedoc.com" class="btn-gray btn btn-primary">Contactez-nous</a>
          </div>
        </div>
      </div>
    </div>



    <div class="titre-partenaire">
      <h2 style="font-weight:bold">Tout sur Bimedoc</h2>
      <h2 style="font-weight:bold", id="color-blue">Notre service, les fonctionnalités et les prix !</h2>
    </div>
    <div class="boxe_professionnels">
      <div class="row">
        <div class="col-xs-12 col-sm-12">
          <div class="s">
              <p style="text-align: center; font-weight: bold; color: black">Vous êtes ...</p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4">
          <div class="boxe_professionnel">
            <a href="/bilanmedication.html">
              <%= image_tag "pharmacien_officine.svg"%>
              <p>Pharmacien d'officine</p>
            </a>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4">
          <div class="boxe_professionnel">
            <a href="/fonctionnalites.html">
              <%= image_tag "Pharmacien_hospitalier.svg"%>
              <p>Pharmacien hospitalier</p>
            </a>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4">
          <div class="boxe_professionnel">
            <a href="/industriel.html">
              <%= image_tag "industriel.svg"%>
              <p>Un industriel</p>
            </a>
          </div>
        </div>
      </div>
    </div>






<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <iframe width="100%" height="315" src="https://www.youtube.com/embed/vKeq1_BI-0c" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>
</div>


<div class="section-border reverse mt-2">
  <svg class="bottom-concave-white" viewBox='0 0 1440 48' version='1.1'>
    <g id='bottom-concave' transform='translate(0.000000, -436.000000)'>
    <g id='Group-6' fill='white' fill-rule='nonzero'>
    <path d='M1440,484 C1225.09668,452 985.09668,436 720,436 C627.991932,436 539.007013,437.927362 453.045242,441.782085 C345.235831,446.616507 194.22075,460.689145 0,484 L0,436 L1440,436 L1440,484 Z' id='background-circular-shape-2'></path>
    </g>
    </g>
  </svg>
</div>

<div class="header header_gray">
  <div class="container cards_fonctionnalites_center">
    <div class="row">
      <div class="col-xs-12 col-sm-12">
        <div class="mt-2">
            <h3 style="text-align: center; ">Rejoignez plus de 500 pharmaciens qui simplifient leur quotidien avec Bimedoc</h3>
            <p class="text-center mt-3 mb-2">Vous êtes ...</p>
        </div>
      </div>
      <div class="cards_fonctionalites">
        <div class="col-xs-12 col-sm-6 ">
          <div class="card_fonctionalite">
            <%= image_tag "bonhomme_ordi.svg", id: "card-fonctionnalite-image"%>
            <h3>Bilan partagé de médication</h3>
            <br>
            <p>Bilan en moins de 1 heure</p>
            <p>Déclaration automatique sur AmeliPro</p>
            <p>Module d'analyse d'ordonnance innovant</p>
            <p>Rédaction automatique d’une synthèse pharmaceutique</p>
            <p>Plan de prise des médicaments</p>
            <p>Rappel des entretiens de suivi à réaliser</p>
            <div class="button">
              <a href="/bilan_partage_de_medication.html" class="cta btn-primary-small">En savoir plus</a>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 ">
          <div class="card_fonctionalite">
            <%= image_tag "prescription.svg", id: "card-fonctionnalite-image" %>
            <h3>Assistant d'analyse pharmaceutique</h3>
            <br>
            <p>Base médicamenteuse de l'ANSM</p>
            <p>Détection des intéractions médicamenteuses</p>
            <p>Détection des médicaments inappropriés</p>
            <p>Détection des alternatives de forme galénique</p>
            <p>Charge anticholinergique</p>
            <div class="button">
              <a href="https://analyse.bimedoc.com/interface/analysis" class="cta btn-primary-small">Essayer la version gratuite</a>
            </div>
          </div>
        </div>
      </div>
       <div class="cards_fonctionalites">
        <div class="col-xs-12 col-sm-6 ">
          <div class="card_fonctionalite">
            <%= image_tag "bonhomme_ordi.svg", id: "card-fonctionnalite-image"%>
            <h3>Pharmacien d'officine</h3>
            <br>
            <p>Bilan partagé de médication</p>
            <p>Assistant d'analayse pharmaceutique</p>
            <p>Entretien pharmaceutique</p>
            <p>Messagerie sécurisée</p>
            <p>Plan de prise des médicaments</p>
            <div class="button">
              <a href="/bilan_partage_de_medication.html" class="cta btn-primary-small">En savoir plus</a>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 ">
          <div class="card_fonctionalite">
            <%= image_tag "prescription.svg", id: "card-fonctionnalite-image" %>
            <h3>Pharmacien en établissement </h3>
            <br>
            <p>Assistant d'analayse pharmaceutique</p>
            <p>Concilliation médicamenteuse</p>
            <p>Entretien pharmaceutique</p>
            <p>Messagerie sécurisée</p>
            <p>Plan de prise des médicaments</p>
            <div class="button">
              <a href="https://analyse.bimedoc.com/interface/analysis" class="cta btn-primary-small">Essayer la version gratuite</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12">
        <div class="card_fonctionalite_industriel">
          <%= image_tag "bonhomme_ordi.svg", id: "card-fonctionnalite-image"%>
          <h3>Un industriel</h3>
          <br>
          <p>Vous souhaitez intégrer notre solution directement dans votre logiciel ?</p>
          <p>Contactez nous pour en savoir plus</p>
          <div class="button mt-2">
            <a href="/bilan_partage_de_medication.html" class="cta btn-primary-small">En savoir plus</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="section-border reverse">
  <svg class="bottom-concave-white" viewBox='0 0 1440 48' version='1.1'>
    <g id='bottom-concave' transform='translate(0.000000, -436.000000)'>
    <g id='Group-6' fill='white' fill-rule='nonzero'>
    <path d='M1440,484 C1225.09668,452 985.09668,436 720,436 C627.991932,436 539.007013,437.927362 453.045242,441.782085 C345.235831,446.616507 194.22075,460.689145 0,484 L0,436 L1440,436 L1440,484 Z' id='background-circular-shape-2'></path>
    </g>
    </g>
  </svg>
</div>
<div class="header header_gray">
  <div class="container cards_fonctionnalites_center">
    <div class="row">
      <div class="col-xs-12 col-sm-12">
        <div class="subtitle">
            <h2 style="text-align: center; ">A découvrir sur notre blog</h2>
        </div>
      </div>
      <div class="cards_fonctionalites">
        <div class="col-xs-12 col-sm-6 ">
          <div class="card_fonctionalite">
            <%= image_tag "bilanmedicationdigital.svg", id: "card-fonctionnalite-image-blog"%>
            <h3>5 avantages d'un bilan partagé de médication digitalisé</h3>
            <br>
            <p>Bien que cette nouvelle activité marque une évolution majeure dans le métier du pharmacien, la réalité du terrain tend à rendre sa mise en place à l’officine difficile.</p>
            <div class="button">
              <a href="https://medium.com/bimedoc/5-avantages-dun-bilan-partag%C3%A9-de-m%C3%A9dication-digitalis%C3%A9-b9c5ea07a547" class="cta btn-primary-small">Lire la suite</a>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 ">
          <div class="card_fonctionalite">
            <%= image_tag "bpm_explication.jpg", id: "card-fonctionnalite-image-blog" %>
            <h3>Qu'est-ce qu'un bilan partagé de médication ?</h3>
            <br>
            <br>
            <p>Dans cet article vous découvrirez les différentes étapes du bilan de médication, les patients qui sont éligible ou encore la rémunération.</p>
            <div class="button">
              <%= link_to "Lire la suite", "/bilan_medication_explication.html", class: "cta btn-primary-small" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="button-blog mt-4 mb-1">
    <a href="https://medium.com/bimedoc" class="cta btn-primary-small">Découvrez les autres articles de notre blog</a>
  </div>
</div>

      <div class="col-xs-12">
        <h3 class="text-center">Rejoignez plus de 500 pharmaciens qui simplifient leur quotidien avec Bimedoc</h3>
      </div>



      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <div class="hero-asset hide_on_mobile">
          <%= image_tag "bimedoc-preview.svg", id: "hero-bleu" %>
        </div>
      </div>
