<div class="container mb-4">


      <h1 class="fonctionne-titre mt-4">Qu'est-ce qu'un bilan partagé de médication ?</h1>
      <center><p style="color:black"><b>Les bilans partagés de médications sont une des nouvelles missions que le pharmacien peut réaliser dans son officine. Il s'agit d'une révision globale du traitement du patient ainsi que la gestion et de l'adhésion du patient vis à vis de son traitement.</b></p></center>
      <p class="fonctionne-titre mt-4" style="color:black">Les bilans partagés de médication ont pour objectif :</p>
      <div class="row">
        <div class="col-xs-12 col-lg-4">
          <div class="bordure_bleu_6px">
            <p>Réduire le risque d’effets indésirables liés aux médicaments</p>
          </div>
        </div>
        <div class="col-xs-12 col-lg-4">
          <div class="bordure_bleu_6px">
            <p>Apporter des réponses aux interrogations du patient</p>
          </div>
        </div>
        <div class="col-xs-12 col-lg-4">
          <div class="bordure_bleu_6px">
            <p>Améliorer l’observance thérapeutique</p>
          </div>
        </div>
      </div>
      <h2 class="fonctionne-titre mt-4">Quels en sont les différentes étapes ?</h2>
      <div class="row">
        <div class="col-xs-12 col-sm-6 vertical_align_blog">
          <%= image_tag "annee_1.png", class: "image_bpm centre-verticalement_blog"%>
        </div>
        <div class="bilan col-xs-12 col-sm-6 vertical_align_blog">
          <div class="centre-verticalement_blog">
            <h2 style="font-weight:bold">La première année</h2>
            <p style="color:black">On retrouve : </p>
            <p style="color:black">1. un entretien de recueil d’information en présence du patient,</p>
            <p style="color:black">2. une analyse des traitements du patient,</p>
            <p style="color:black">3. un entretien « conseil » en présence du patient.</p>
            <p style="color:black">4. un suivi de l’observance environ 6 mois après</p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 vertical_align_blog">
          <%= image_tag "annee_2.png", class: "image_bpm centre-verticalement"%>
        </div>
        <div class="bilan col-xs-12 col-sm-6 vertical_align_blog">
          <div class="centre-verticalement">
            <h2 style="font-weight:bold">Les années suivantes</h2>
            <p style="color:black">2 entretiens de suivi d'observance à 6 mois d'écart</p>
            <p style="color:black">ou</p>
            <p style="color:black">en cas de nouvelle prescription d’un ou plusieurs nouveaux traitements, il sera nécessaire de réactualiser l’analyse initiale, de réaliser un deuxième entretien « conseil » et d’en assurer le suivi de l’observance 6 mois plus tard.</p>
          </div>
        </div>
      </div>
      <h2 class="fonctionne-titre mt-4 mb-2">Quels en sont les critères d'éligibilité ?</h2>
      <div class="row">
        <div class="bilan col-xs-12 col-sm-6 vertical_align_blog">
          <div class="centre-verticalement_blog mr-4">
            <p style="color:black">La CNAMTS a défini <b>deux situations</b> pour lesquels le pharmacien sera rémunérés pour la réalisation d’un BPM.</p>
            <p style="color:black"><b>(i)</b> les patients de plus de 65 ans qui présentent une affection de longue durée et qui ont plus de 5 traitements chronique (i.e prescription > à 6 mois).</p>
            <p style="color:black"><b>(ii)</b> les patients de plus de 75 ans qui ont plus de 5 traitements chronique (i.e prescription > à 6 mois).</p>
          </div>
        </div><div class="col-xs-12 col-sm-6 mt-2 image_center">
            <%= image_tag "critere_inclusion.png", class: "image_100"%>
        </div>
      </div>



      <h2 class="texte_centre mt-4 mb-2">Quels est la rémunération pour la pharmacie ?</h2>
      <div class="row">
        <div class="col-sm-2">
          <div class="bordure_bleu">
            <p>60 euros</p>
          </div>
        </div>
        <div class="col-sm-10">
          <div class="mt-4">
            <p style="color:black">La première année, la rémunération comprend : l’entretien de recueil d’information, l’analyse des informations, l’entretien conseil et un suivi de l’observance</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-2">
          <div class="bordure_bleu">
            <p>30 euros</p>
          </div>
        </div>
        <div class="col-sm-10">
          <div class="mt-4">
            <p style="color:black">La deuxième année et les années suivantes dans le cas ou il existe une modification du traitement. Cela comprend une nouvelle analyse des traitements, un entretien conseil et un suivi de l’observance.</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-2">
          <div class="bordure_bleu">
            <p>20 euros</p>
          </div>
        </div>
        <div class="col-sm-10">
          <div class="mt-4">
            <p style="color:black">La deuxième année et les années suivantes dans le cas ou il n’y a pas de modification du traitement. Cela comprend deux suivis de l’observance dans l’année.</p>
          </div>
        </div>
      </div>
  </div>





<div class="wrapper wrapper_bimedoc_gray">
  <h2 class="pt-2 mb-1" style="text-align: center">Bimedoc peut vous accompagner dans la réalisation de vos BPM</h2>
  <div class="row">
    <div class="col-xs-12 col-lg-4">
      <div class="bordure_bleu_6px">
        <i class="fas fa-stopwatch fa-2x pb-1"></i>
        <p class="mb-1"><b>Diminution du temps de réalisation par 2</b></p>
      </div>
    </div>
    <div class="col-xs-12 col-lg-4">
      <div class="bordure_bleu_6px">
        <i class="fas fa-hands-helping fa-2x pb-1"></i>
        <p class="mb-1"><b>Accompagnement à chaque étape du bilan</b></p>
      </div>
    </div>
    <div class="col-xs-12 col-lg-4">
      <div class="bordure_bleu_6px">
        <i class="fas fa-chart-line fa-2x pb-1"></i>
        <p class="mb-1"><b>Amelioration de la satisfaction de vos patients</b></p>
      </div>
    </div>
  </div>
</div>



  </div>
</div>
<div class="wrapper wrapper_bimedoc">
  <div class="wrapper_bpm">
    <h2 class="mb-1">Développé par des pharmaciens, pour des pharmaciens</h2>
    <div class="deux-boutons">
      <%= link_to "En savoir plus", "/bilan_partage_de_medication.html", class: "btn button_wrapper_bpm"%>
      <%= link_to "Demander une démo", "/demo.html", class: "btn button_wrapper_bpm"%>
      <%= link_to "Je m'inscris maintenant", "/inscription.html", class: "btn button_wrapper_bpm", target: "_blank" %>
    </div>
  </div>
</div>
