<div class="wrapper">
  <div class="vertical_align_header">
    <%= image_tag "FB-image-BPM.svg", class: "image_bpm_100 centre-verticalement"%>
  </div>
</div>
<div class="container">

  <div class="fonctionnes">
    <h2 class="fonctionne-titre">Comment ça fonctionne ?</h2>
    <p class="fonctionne-texte"style="color:black">Bienvenue dans notre grande communauté de pharmaciens connectés sur Bimedoc.</p>
    <p class="fonctionne-texte" style="color:black"><strong>Découvrez comment la plateforme fonctionne :</strong></p>
  </div>

  <div class="">
    <div class="row">
      <div class="col-xs-12 col-sm-6 vertical_align">
        <%= image_tag "BPM_1heure.svg", class: "image_bpm centre-verticalement"%>
      </div>
      <div class="bilan col-xs-12 col-sm-6 vertical_align">
        <div class="centre-verticalement">
          <h2 style="font-weight:bold">Bilan en moins d’1 heure</h2>
          <p style="color:black">Selon les recommandations de l’assurance maladie et de la SFPC.</p>
        </div>
      </div>
      <div class="bilan col-xs-12 col-sm-6 vertical_align">
        <div class="centre-verticalement">
          <h2 style="font-weight:bold">Déclaration automatique sur AmeliPro</h2>
          <p style="color:black">Vous n’aurez plus besoin de vous connecter à votre espace AmeliPro.</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 vertical_align">
        <%= image_tag "BPM_ameli.svg", class: "image_bpm centre-verticalement"%>
      </div>
      <div class="col-xs-12 col-sm-6 vertical_align">
        <%= image_tag "BPM_analyse.svg", class: "image_bpm centre-verticalement"%>
      </div>
      <div class="bilan col-xs-12 col-sm-6 vertical_align">
        <div class="centre-verticalement">
          <h2 style="font-weight:bold">Module d’analyse d’ordonnance innovant</h2>
          <p style="color:black">Interactions médicamenteuses</p>
          <p style="color:black">Détection des médicaments inappropriés</p>
          <p style="color:black">Problème de forme galénique</p>
          <p style="color:black">Gestion du traitement</p>
          <p style="color:black">Intervention pharmaceutique pré-enregistrée pouvant être modifiée.</p>
        </div>
      </div>
      <div class="bilan col-xs-12 col-sm-6 vertical_align">
        <div class="centre-verticalement">
          <h2 style="font-weight:bold">Rédaction automatique d’une synthèse à envoyer au médecin traitant</h2>
          <p style="color:black">Envoi possible par messagerie sécurisée sans sortir de l'application.</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 vertical_align">
        <%= image_tag "synthese_BPM.svg", class: "image_bpm centre-verticalement"%>
      </div>
      <div class="col-xs-12 col-sm-6 vertical_align">
        <%= image_tag "BPM_plandeprise.svg", class: "image_bpm centre-verticalement"%>
      </div>
      <div class="bilan col-xs-12 col-sm-6 vertical_align">
        <div class="centre-verticalement">
          <h2 style="font-weight:bold">Plan de prise des médicaments</h2>
          <p style="color:black">Génération automatique d'un plan de prise à partir de l'entretien de recueil d'information.</p>
          <p style="color:black">Possibilité d'y associer des conseils de prises.</p>
        </div>
      </div>
      <div class="bilan col-xs-12 col-sm-6 vertical_align">
        <div class="centre-verticalement">
          <h2 style="font-weight:bold">Tableau de bord et rappels des entretiens de suivi à réaliser</h2>
          <p style="color:black">Email de rappel des entretiens de suivi à réaliser tous les 6 mois.</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 vertical_align">
        <%= image_tag "BPM_tableaubord.svg", class: "image_bpm centre-verticalement"%>
      </div>
    </div>
  </div>
  <div class="commentaires">
    <h2 class="commentaire-titre">Pourquoi utilisent-ils Bimedoc ?</h2>
    <div class="row">
      <div class="col-xs-12 col-sm-4">
          <div class="commentaire-texte">
            <p class="commentaire-descriptif">"Bimedoc m'a permis de standardiser la réalisation des bilans avec l'ensemble de mes associés ce qui nous permet de mieux suivre nos patients."</p>
            <p class="commentaire-nom">Pharmacien à Tarbes</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
          <div class="commentaire-texte">
            <p class="commentaire-descriptif">"Enfin une application rapide et efficace"</p>
            <p class="commentaire-nom">Pharmacien à Montpellier</p>
          </div>
      </div>
      <div class="col-xs-12 col-sm-4">
          <div class="commentaire-texte">
            <p class="commentaire-descriptif">"L'application m'a permis de gagner beaucoup de temps et de me consacrer à la prise en charge du patient"</p>
            <p class="commentaire-nom">Pharmacien à Beaune</p>
          </div>
      </div>
    </div>
  </div>
</div>



<div class="wrapper wrapper_bimedoc">
  <div class="wrapper_bpm">
    <h2>Développé par des pharmaciens, pour des pharmaciens</h2>
    <div class="deux-boutons">
      <%= link_to "Je m'inscris maintenant", "https://app.bimedoc.com/auth/signup", class: "btn button_wrapper_bpm", target: "_blank" %>
      <%= link_to "Demander une démo", "/demo.html", class: "btn button_wrapper_bpm_blanc"%>
    </div>
    <p>1 mois gratuit, sans engagement</p>
  </div>
</div>
