<div class="container">
  <div class="mt-10">
    <h1 class="mt-2 text-center">Conciliation des traitements médicamenteux</h1>
    <p class="mt-1 text-center">L'ensemble du processus de conciliation médicamenteuse est directement intégré dans une même solution. Vous pouvez réaliser un bilan médicamenteux, une conciliation médicamenteuse d'entrée ou de sortie; tout en bénéficiant des technologies intégrées par Bimedoc (messagerie sécurisée, DMP, plan de prise, assistant d'analyse pharmaceutique, synthèse pdf des différentes étapes).</p>
  </div>

  <div class="row mt-4">
    <p style="text-align: center" class="mb-2"><b>Avec Bimedoc vous allez :</b></p>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
      <div class="text-center"><i class="fad fa-stopwatch fa-3x icone_blue"></i></div>
      <div class="pt-05 pb-05 pt-1 text-center"><p>Gagner du temps</p></div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
      <div class="text-center"><i class="fad fa-chart-network fa-3x icone_blue"></i></div>
      <div class="pt-05 pb-05 pt-1 text-center"><p>Accéder rapidement à une information fiable, validée et pertinente sur les médicaments</p></div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
      <div class="text-center"><i class="fad fa-chart-line fa-3x icone_blue"></i></div>
      <div class="pt-05 pb-05 pt-1 text-center"><p>Remplir les objectifs du CAQES</p></div>
    </div>
  </div>
</div>
  <!-- <div class="row hauteur">
    <div class="col-xs-12 col-sm-6 gauche pt-4 pb-4">
      <p class="pl-1 pr-3">1 - Réalisez votre <b>historique médicamenteux facilement</b> à l'aide de notre outil de drag&drop</p>
      <div class="ensemble-icone">
        <div class="position-icone">
          <i class="fas fa-search fa-2x icone"></i>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 droite pt-4 pb-4">
      <p class="pl-1 pr-3">test</p>
    </div>
  </div>
  <div class="row hauteur">
    <div class="col-xs-12 col-sm-6 gauche pt-4 pb-4">
      <p class="pl-1 pr-3">2 - A n'importe qu'elle moment du processus de conciliation vous pouvez réaliser une <b>analyse pharmaceutique</b> à l'aide de notre assistant bimedoc</b>
      <div class="ensemble-icone">
        <div class="position-icone">
          <i class="fas fa-search fa-2x icone"></i>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 droite pt-4 pb-4">
      <p class="pl-1 pr-3">test</p>
    </div>
  </div>
  <div class="row hauteur">
    <div class="col-xs-12 col-sm-6 gauche pt-4 pb-4">
      <p class="pl-1 pr-3">3 - A chaque étape un synthèse pdf est généré ainsi qu'un plan de prise à la sortie d'hospitalisation</p>
      <div class="ensemble-icone">
        <div class="position-icone">
          <i class="fas fa-search fa-2x icone"></i>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 droite pt-4 pb-4">
      <p class="pl-1 pr-3">test</p>
    </div>
  </div>
  <div class="row hauteur">
    <div class="col-xs-12 col-sm-6 gauche pt-4 pb-4">
      <p class="pl-1 pr-3">4 - les différents documents peuvent être transmis par messagerie séucrisée directement depuis l'application ainsi que déposé dans le DMP du patient</p>
      <div class="ensemble-icone">
        <div class="position-icone">
          <i class="fas fa-search fa-2x icone"></i>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 droite pt-4 pb-4">
      <p class="pl-1 pr-3">test</p>
    </div>
  </div>
  <div class="row hauteur">
    <div class="col-xs-12 col-sm-6 gauche pt-4 pb-4">
      <p class="pl-1 pr-3">5 - Un tableau de bord vous permet d'avoir une vision instantanné de votre activité en vue de remplir les exigences pour le CAQES</p>
      <div class="ensemble-icone">
        <div class="position-icone">
          <i class="fas fa-search fa-2x icone"></i>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 droite pt-4 pb-4">
      <p class="pl-1 pr-3">test</p>
    </div>
  </div> -->


<!-- Version desktop (hide on mobile) -->
<div class="container hide_on_mobile">
  <h2 style="text-align: center" class="mt-2">Comment ça fonctionne ?</h2>
  <div class="row mb-4">
    <div class="col-xs-12 col-sm-6 vertical_align_60">
      <div class="centre-verticalement_50_100">
        <%= image_tag "bilanmedicamenteux.jpg", class: "image_bpm box-shadow-gray"%>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 ">
      <div class="vertical_align_60">
        <div class="centre-verticalement_50_100">
          <h3 class=pb-1>Ensemble des étapes de la conciliation médicamenteuse</h3>
          <div class=flex>
           <i class="fal fa-check oval_14px fa-xs"></i><p>Bilan médicamenteux</p>
          </div>
          <div class=flex>
           <i class="fal fa-check oval_14px fa-xs"></i><p>Conciliation médicamenteuse d'entrée</p>
          </div>
          <div class=flex>
           <i class="fal fa-check oval_14px fa-xs"></i><p>Conciliation médicamenteuse de sortie</p>
          </div>
          <div class=flex>
           <i class="fal fa-check oval_14px fa-xs"></i><p>Plan de prise des médicaments</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 vertical_align_60">
      <div class="centre-verticalement_50_100">
        <%= image_tag "divergence.jpg", class: "image_bpm box-shadow-gray"%>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 ">
      <div class="vertical_align_60">
        <div class="centre-verticalement_50_100">
          <h3 class=pb-1>Caractérisation des divergences</h3>
          <div class=flex>
           <i class="fal fa-check oval_14px fa-xs"></i><p>Statut</p>
          </div>
          <div class=flex>
           <i class="fal fa-check oval_14px fa-xs"></i><p>Type de divergence</p>
          </div>
          <div class=flex>
           <i class="fal fa-check oval_14px fa-xs"></i><p>Résolution</p>
          </div>
          <div class=flex>
           <i class="fal fa-check oval_14px fa-xs"></i><p>Evaluation de la gravité de l'erreur médicamenteuse selon l'échelle CLEO de la SFPC</p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6 vertical_align_60">
      <div class="centre-verticalement_50_100">
        <%= image_tag "assistant.png", class: "image_bpm box-shadow-gray"%>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 ">
      <div class="vertical_align_60">
        <div class="centre-verticalement_50_100">
          <h3 class=pb-1>Assistant d'analyse pharmaceutique intégré</h3>
          <div class=flex>
           <i class="fal fa-check oval_14px fa-xs"></i><p>Base médicamenteuse de l'ANSM</p>
          </div>
          <div class=flex>
           <i class="fal fa-check oval_14px fa-xs"></i><p>Détection des intéractions médicamenteuses</p>
          </div>
          <div class=flex>
           <i class="fal fa-check oval_14px fa-xs"></i><p>Proposition d'alternatives de forme galénique</p>
          </div>
          <div class=flex>
           <i class="fal fa-check oval_14px fa-xs"></i><p>Détection des médicaments inappropriés</p>
          </div>
          <div class=flex>
           <i class="fal fa-check oval_14px fa-xs"></i><p>Charge anticholinergique</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 vertical_align_60">
      <div class="centre-verticalement_50_100">
        <%= image_tag "annuaire.png", class: "image_bpm box-shadow-gray"%>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 ">
      <div class="vertical_align_60">
        <div class="centre-verticalement_50_100">
          <h3 class=pb-1>Lien Ville-Hôpital</h3>
          <p></p>
          <div class=flex>
           <i class="fal fa-check oval_14px fa-xs"></i><p>Export pdf à chaque étape</p>
          </div>
          <div class=flex>
           <i class="fal fa-check oval_14px fa-xs"></i><p>Envoi par messagerie sécurisée</p>
          </div>
          <div class=flex>
           <i class="fal fa-check oval_14px fa-xs"></i><p>Intégration dans le Dossier Médical Partagé (à venir)</p>
          </div>
          <div class=flex>
           <i class="fal fa-check oval_14px fa-xs"></i><p>Intégration automatique des pdf dans votre Dossier Patient Informatisé</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 vertical_align_60">
      <div class="centre-verticalement_50_100">
        <%= image_tag "fhir.png", class: "image_bpm box-shadow-gray"%>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 ">
      <div class="vertical_align_60">
        <div class="centre-verticalement_50_100">
          <h3 class=pb-1>Interopérabilité</h3>
          <p>Notre module de conciliation médicamenteuse a été développé à l'aide des standards FHIR permettant son intégration dans les systèmes d'informations hospitaliers.</p>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- ######
VERSION MOBILE (hide on destkop)
##### -->
<div class="container hide_on_destkop">
  <h2 style="text-align: center" class="mt-2">Comment ça fonctionne ?</h2>
  <div class="row">
    <div class="col-xs-12 col-sm-6 mt-5 text-center">
      <div class="">
        <%= image_tag "bilanmedicamenteux.jpg", class: "image_bpm box-shadow-gray"%>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 ">
      <div class="vertical_align_40">
        <div class="centre-verticalement_50_100">
          <h3 class="pb-1 text-center">Ensemble des étapes de la conciliation médicamenteuse</h3>
          <div class=flex>
           <i class="fal fa-check oval_14px fa-xs"></i><p>Bilan médicamenteux</p>
          </div>
          <div class=flex>
           <i class="fal fa-check oval_14px fa-xs"></i><p>Conciliation médicamenteuse d'entrée</p>
          </div>
          <div class=flex>
           <i class="fal fa-check oval_14px fa-xs"></i><p>Conciliation médicamenteuse de sortie</p>
          </div>
          <div class=flex>
           <i class="fal fa-check oval_14px fa-xs"></i><p>Plan de prise des médicaments</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 mt-5 text-center">
      <div class="">
        <%= image_tag "divergence.jpg", class: "image_bpm box-shadow-gray"%>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 ">
      <div class="vertical_align_40">
        <div class="centre-verticalement_50_100">
          <h3 class="pb-1 text-center">Caractérisation des divergences</h3>
          <div class=flex>
           <i class="fal fa-check oval_14px fa-xs"></i><p>Statut</p>
          </div>
          <div class=flex>
           <i class="fal fa-check oval_14px fa-xs"></i><p>Type de divergence</p>
          </div>
          <div class=flex>
           <i class="fal fa-check oval_14px fa-xs"></i><p>Résolution</p>
          </div>
          <div class=flex>
           <i class="fal fa-check oval_14px fa-xs"></i><p>Evaluation de la gravité de l'erreur médicamenteuse selon l'échelle CLEO de la SFPC</p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6 mt-5 text-center">
      <div class="">
        <%= image_tag "assistant.png", class: "image_bpm box-shadow-gray"%>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 ">
      <div class="vertical_align_50">
        <div class="centre-verticalement_50_100">
          <h3 class="pb-1 text-center">Assistant d'analyse pharmaceutique intégré</h3>
          <div class=flex>
           <i class="fal fa-check oval_14px fa-xs"></i><p>Base médicamenteuse de l'ANSM</p>
          </div>
          <div class=flex>
           <i class="fal fa-check oval_14px fa-xs"></i><p>Détection des intéractions médicamenteuses</p>
          </div>
          <div class=flex>
           <i class="fal fa-check oval_14px fa-xs"></i><p>Proposition d'alternatives de forme galénique</p>
          </div>
          <div class=flex>
           <i class="fal fa-check oval_14px fa-xs"></i><p>Détection des médicaments inappropriés</p>
          </div>
          <div class=flex>
           <i class="fal fa-check oval_14px fa-xs"></i><p>Charge anticholinergique</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 mt-5 text-center">
      <div class="">
        <%= image_tag "annuaire.png", class: "image_bpm box-shadow-gray"%>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 ">
      <div class="vertical_align_40">
        <div class="centre-verticalement_50_100">
          <h3 class="pb-1 text-center">Lien Ville-Hôpital</h3>
          <p></p>
          <div class=flex>
           <i class="fal fa-check oval_14px fa-xs"></i><p>Export pdf à chaque étape</p>
          </div>
          <div class=flex>
           <i class="fal fa-check oval_14px fa-xs"></i><p>Envoi par messagerie sécurisée</p>
          </div>
          <div class=flex>
           <i class="fal fa-check oval_14px fa-xs"></i><p>Intégration dans le Dossier Médical Partagé (à venir)</p>
          </div>
          <div class=flex>
           <i class="fal fa-check oval_14px fa-xs"></i><p>Intégration automatique des pdf dans votre Dossier Patient Informatisé</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 mt-5 text-center">
      <div class="">
        <%= image_tag "fhir.png", class: "image_bpm box-shadow-gray"%>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 ">
      <div class="vertical_align_30">
        <div class="centre-verticalement_50_100">
          <h3 class="pb-1 text-center">Interopérabilité</h3>
          <p>Notre module de conciliation médicamenteuse a été développé à l'aide des standards FHIR permettant son intégration dans les systèmes d'informations hospitaliers.</p>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="wrapper wrapper_bimedoc">
  <div class="wrapper_bpm">
    <h2>Vous êtes intéréssé par notre solution ?</h2>
    <p>N'hésitez pas à nous demander des informations.</p>
    <div class="deux-boutons">
      <%= link_to "04 82 81 00 78", "https://app.bimedoc.com/auth/signup", class: "btn button_wrapper_bpm", target: "_blank" %>
      <%= link_to "Demander une démo", "/demo.html", class: "btn button_wrapper_bpm_blanc"%>
      <%= link_to "contact@bimedoc.com", "", class: "btn button_wrapper_bpm", target: "_blank" %>
    </div>
  </div>
</div>

