<!-- Version desktop (hide on mobile) -->
<div class="container hide_on_mobile">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
      <div class="vertical_align_70">
        <div class="centre-verticalement_50_100 mt-3">
          <h1 style="font-weight:600" id="color-blue">Réalisation simplifiée des tests antigéniques</h1>
          <div class="flex mt-5">
           <i class="fal fa-check oval_14px fa-xs"></i><p>Saisie des résultats du test antigénique</p>
          </div>
          <div class=flex>
           <i class="fal fa-check oval_14px fa-xs"></i><p>Déclaration des résultats au SI-DEP</p>
          </div>
          <div class=flex>
           <i class="fal fa-check oval_14px fa-xs"></i><p>Impression du document à remettre au patient</p>
          </div>
          <div class=flex>
           <i class="fal fa-check oval_14px fa-xs"></i><p>Déclaration automatique à l’assurance maladie du patient zéro</p>
          </div>
          <div class=flex>
           <i class="fal fa-check oval_14px fa-xs"></i><p>Agenda et prise de rendez-vous par le patient</p>
          </div>
          <div class="deux-boutons-gauche mt-5">
            <%= link_to "Demander une démo", "/demo.html", class: "btn-blue btn btn-primary"%>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 pl-10">
      <div class="vertical_align_70">
        <%= image_tag "test_antigenique.gif", class: "centre-verticalement_hero test_antigenique mt-3 pb-1"%>
      </div>
    </div>
  </div>
</div>



<!-- ######
VERSION MOBILE (hide on destkop)
##### -->
<div class="container hide_on_destkop mb-5">
  <div class="row">
    <div class="col-xs-12">
      <div class="mt-10 text-center">
        <h1 style="font-weight:600" id="color-blue" class="text-center">Réalisation simplifiée des tests antigéniques</h1>
        <%= image_tag "test_antigenique.gif", class: "image_bpm test_antigenique_mobile"%>
      </div>
    </div>
    <div class="col-xs-12">
      <div class="">
        <div class="mt-2 mb-2">
          <div class=flex>
           <i class="fal fa-check oval_14px fa-xs"></i><p>Saisie des résultats du test antigénique</p>
          </div>
          <div class=flex>
           <i class="fal fa-check oval_14px fa-xs"></i><p>Déclaration des résultats au SI-DEP</p>
          </div>
          <div class=flex>
           <i class="fal fa-check oval_14px fa-xs"></i><p>Impression du document à remettre au patient</p>
          </div>
          <div class=flex>
           <i class="fal fa-check oval_14px fa-xs"></i><p>Déclaration automatique à l’assurance maladie du patient zéro</p>
          </div>
          <div class=flex>
           <i class="fal fa-check oval_14px fa-xs"></i><p>Agenda et prise de rendez-vous par le patient</p>
          </div>
          <div class="deux-boutons mt-1">
            <div class="mt-1">
              <%= link_to "Demander une démo", "/demo.html", class: "btn-blue btn btn-primary"%>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- ####### -->
<!-- MOBILE ET DESKTOP -->
<!-- ###### -->
<div class="wrapper pt-2 pb-2 mb-5" style="background: white">
  <div class="container">
    <div class="titre-partenaire">
      <h2 class="text-center">Découvrez les témoignages de nos clients</h2>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <button type="button" class="" data-toggle="modal" data-target="#customerstory1" style="border:none">
          <%= image_tag "customer-story-1.png", class: "border_radius_8px", width: "100%" %>
        </button>
      </div>
      <div class="col-xs-12 col-md-6 hide_on_mobile">
        <button type="button" class="" data-toggle="modal" data-target="#customerstory2" style="border:none">
          <%= image_tag "customer-story-2.png", class: "border_radius_8px", width: "100%" %>
        </button>
      </div>
      <div class="col-xs-12 col-md-6 mt-2 hide_on_destkop">
        <button type="button" class="" data-toggle="modal" data-target="#customerstory2" style="border:none">
          <%= image_tag "customer-story-2.png", class: "border_radius_8px", width: "100%" %>
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Modal customerstory1-->
<div class="modal fade" id="customerstory1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" style="height:365px">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <iframe width="100%" height="337" src="https://www.youtube.com/embed/8yKmXP8eGZc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>
</div>

<!-- Modal customerstory2-->
<div class="modal fade" id="customerstory2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" style="height:365px">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <iframe width="100%" height="337" src="https://www.youtube.com/embed/95uug9fcsds" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>
</div>
