<div class="index">
  <div class="container">
    <div class="margin">
      <h2>Notre mission :</h2>
      <h2 id="color-blue">Proposer des services innovants au service de la santé publique</h2>
    </div>
    <div class="equipes">
      <div class="row">
        <div class="col-xs-12 col-sm-4">
          <div class="equipe">
            <%= image_tag "pierre.svg", class: "oval-equipe" %>
            <h2>Dr. Pierre Renaudin</h2>
            <h3>👨‍⚕️CEO</h3>
            <tr class="line-5"></tr>
            <p>Pierre est en charge du développement de la solution en plaçant les pharmaciens au coeur des décisions pour offrir le meilleur service possible.</p>
            <p>Pharmacien, Ancien Assistant Hospitalo-universitaire des hôpitaux de Montpellier et doctorant à l’école doctorale ED 62 Aix Marseille - Université(EA 3279 - CEReSS Aix Marseille Université)</p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4">
          <div class="equipe">
            <%= image_tag "thomasd.svg", class: "oval-equipe" %>
            <h2>Thomas Dauvet</h2>
            <h3>✍️ Product Designer - Product Manager</h3>
            <tr class="line-5"></tr>
            <p>Thomas attache beaucoup d'importance aux produits bien faits et qui ont un gros impact. Chez Bimedoc, il s'occupe du produit, du design et des opérations.</p>
            <p>Diplômé de Master Design & Management, Thomas a cofondé avec Thomas une agence digital basé à Londres avant de rentrer en France.</p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4">
          <div class="equipe">
            <%= image_tag "thomase.svg", class: "oval-equipe" %>
            <h2>Thomas Emery</h2>
            <h3>🛠 Solution Ingénieur</h3>
            <tr class="line-5"></tr>
            <p>Thomas est obsédé par les process simple et la productivité qui permettent aux produits d’être intuitifs et fluides. Chez Bimedoc, il s'occupe du l’architecture technologique et du front-end.</p>
            <p>Diplômé de MSc Technologies à UCL London, Thomas a cofondé avec Thomas une agence digital basé à Londres avant de rentrer en France.</p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4">
          <div class="equipe">
            <%= image_tag "ron.svg", class: "oval-equipe" %>
            <h2>Ron Danenberg</h2>
            <h3>📟 Big Data ingénieur</h3>
            <tr class="line-5"></tr>
            <p>Ron est en charge de l’architecture des data et de la sécurité de Bimedoc.</p>
            <p>
              Diplômé du King’s College of London en Technologies & Management, il effectura son MSc Technologies à UCL London qui lui permettra d’acquerir une grande expérience du traitement de la data en travaillant dans des entreprises technologiques internationales de premier plan (Expedia, Hotel.com, VATGLOBAL).
            </p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4">
          <div class="equipe">
            <%= image_tag "stephane.svg", class: "oval-equipe" %>
            <h2>Pr Stéphane Honorè</h2>
            <h3>💼 Advisor</h3>
            <tr class="line-5"></tr>
            <p>Stephane Honore, Professeur des universités et praticien hospitalier, à l'Assisantce-Publique des Hôpitaux de Marseille, président de la Société Française de Pharmacie Clinique. Il est Président du Conseil Scientifique de Bimedoc.</p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4">
          <div class="equipe">
            <%= image_tag "felicia.jpg", class: "oval-equipe" %>
            <h2>Dr. Felcia Ferrera</h2>
            <h3>💼 Advisor</h3>
            <tr class="line-5"></tr>
            <p>Felicia Ferrera, Docteur en pharmacie et professeur assistante de pharmacie clinique à la faculté de pharmacie de Marseille. Garante au quotidien du développement de solution pratique et fiable pour la pharmacie d'officine</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
