<div class="container">
  <div class="mt-10">
    <h2 style="text-align: center">Notre mission :</h2>
    <h2 id="color-blue" style="text-align: center">Proposer des services innovants aux pharmaciens</h2>
  </div>
  <div class="row mt-2">
    <div class="col-xs-12 col-sm-6 vertical_align">
      <div class="centre-verticalement_50">
        <%= image_tag "Bimedoc-021.jpg", class: "radius-8px", width: "100%" %>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 vertical_align">
      <div class="centre-verticalement_50 pl-2">
        <h3>"Nous utilisons le design et la technologie pour faciliter le quotidien des professionnels de sante."</h3>
        <p style="color: #2D333A; font-size: 21px"><b>Pierre Renaudin</b></p>
        <p style="font-size: 21px">CEO et Co-fondateur</p>
      </div>
    </div>
  </div>
  <div class="mt-5 mb-5">
    <p class="mt-5">L'idée de Bimedoc est née d'une frustation ...</p>
    <p class="mt-2">Notre ambition est la suivante ...</p>
  </div>
</div>


<div class="wrapper ml-2 mr-2 mt-5">
  <div class="photos-section">
    <div class="one">
      <%= image_tag "Bimedoc-021.jpg", class: "", width: "100%" %>
    </div>
    <div class="two">
      <%= image_tag "Bimedoc-021.jpg", class: "", width: "100%" %>
    </div>
    <div class="three">
      <%= image_tag "Bimedoc-021.jpg", class: "", width: "100%" %>
    </div>
    <div class="four">
      <%= image_tag "Bimedoc-021.jpg", class: "", width: "100%" %>
    </div>
    <div class="five">
      <%= image_tag "Bimedoc-021.jpg", class: "", width: "100%" %>
    </div>
    <div class="six">
      <%= image_tag "Bimedoc-021.jpg", class: "", width: "100%" %>
    </div>
    <div class="seven">
      <%= image_tag "Bimedoc-021.jpg", class: "", width: "100%" %>
    </div>
  </div>
</div>

<!-- ####### -->
<!-- MOBILE ET DESKTOP -->
<!-- ###### -->



<div class="container mt-5">

  <div class="margin hide_on_mobile">
    <h2>Valeurs</h2>
    <h2 id="color-blue">Nous partageons la même vision</h2>
  </div>



  <div class="partenaires">
    <div class="titre-partenaire">
      <h2 class="text-center">Partenaires</h2>
      <h2  id="color-blue" class="text-center">Ils nous font confiance</h2>
    </div>
    <div class="row padding-left">
      <div class="col-xs-12 col-sm-12 col-lg-3 partenaire mt-1 mb-1">
        <p>Lauréat de : </p>
        <a href="https://poussatlys.fr/" target="_blank">
          <%= image_tag "french_tech_seed.png", id: "logo-partenaire" %>
        </a>
      </div>
      <div class="col-xs-12 col-sm-12 col-lg-3 partenaire mt-1 mb-1">
        <p>Membre de :</p>
        <a href="http://www.phast.fr/" target="_blank">
          <%= image_tag "phast.png", id: "logo-partenaire" %>
        </a>
      </div>
      <div class="col-xs-12 col-sm-12 col-lg-3 partenaire mt-1 mb-1">
        <p>Membre de :</p>
        <a href="http://www.lyonfrenchtech.com/" target="_blank">
          <%= image_tag "lyonfrenchtech.svg", id: "logo-partenaire" %>
        </a>
      </div>
      <div class="col-xs-12 col-sm-12 col-lg-3 partenaire mt-1 mb-1">
        <p>Hébergé et accéléré par : </p>
        <a href="http://www.h-7.eu/" target="_blank">
          <%= image_tag "H7.jpg", id: "logo-partenaire" %>
        </a>
      </div>
      <div class="col-xs-12 col-sm-12 col-lg-3 partenaire mt-1">
        <p>Financé et accéléré par :</p>
        <a href="http://www.pulsalys.fr/" target="_blank">
          <%= image_tag "pulsalys.png", id: "logo-partenaire" %>
        </a>
      </div>
      <div class="col-xs-12 col-sm-12 col-lg-3 partenaire mt-1">
        <p>Partenaire de :</p>
        <a href="http://www.theriaque.org/" target="_blank">
          <%= image_tag "theriaque.jpg", id: "logo-partenaire" %>
        </a>
      </div>
      <div class="col-xs-12 col-sm-12 col-lg-3 partenaire mt-1">
        <p>Sélectionné pour la bourse French tech par :</p>
        <a href="https://www.bpifrance.fr/" target="_blank">
          <%= image_tag "bpifrance.png", id: "logo-partenaire" %>
        </a>
      </div>
      <div class="col-xs-12 col-sm-12 col-lg-3 partenaire mt-1">
        <p>Lauréat de :</p>
        <a href="http://www.urps-pharmaciens-paca.fr/" target="_blank">
          <%= image_tag "rer.png", id: "logo-partenaire",  class: "pt-1"%>
        </a>
      </div>
    </div>
  </div>
</div>

  <div class="margin hide_on_mobile">
    <h2>Notre mission :</h2>
    <h2 id="color-blue">Proposer des services innovants aux pharmaciens</h2>
  </div>
  <div class="equipes">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-lg-6">
        <div class="equipe">
          <%= image_tag "pierre.svg", class: "oval-equipe" %>
          <h2>Dr. Pierre Renaudin</h2>
          <h3>👨‍⚕️CEO</h3>
          <p>Pierre est en charge du processus de développement de Bimedoc. Son objectif est d'offrir des outils adaptés aux activités d'accompagnement pharmaceutique.</p>
          <p>Pharmacien, Ancien Assistant Hospitalo-universitaire des Hôpitaux de Montpellier et docteur en science d'Aix Marseille - Université(EA 3279 - CEReSS)</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-lg-6">
        <div class="equipe">
          <%= image_tag "thomasd.svg", class: "oval-equipe" %>
          <h2>Thomas Dauvet</h2>
          <h3>✍️ Product Designer - Product Manager</h3>
          <p>Thomas attache beaucoup d'importance aux produits bien faits offrant la meilleure expérience utilisateurs possible. Chez Bimedoc, il s'occupe du produit, du design et des opérations.</p>
          <p>Diplômé de Master Design & Management, Thomas a cofondé avec Thomas une agence digital basée à Londres avant de rentrer en France.</p>
        </div>
      </div>
      <!-- Add the extra clearfix for only the required viewport -->
      <div class="clearfix visible-lg-block"></div>
      <div class="col-xs-12 col-sm-6 col-lg-6">
        <div class="equipe">
          <%= image_tag "thomase.svg", class: "oval-equipe" %>
          <h2>Thomas Emery</h2>
          <h3>🛠 Front-end developer</h3>
          <p>Thomas apporte son savoir-faire afin de rendre Bimedoc intuitif et fluide. Chez Bimedoc, il développe l’architecture technologique et le front-end de l'application.</p>
          <p>Diplômé de MSc Technology Entrepreneurship au University College London, Thomas a cofondé avec Thomas une agence digital basée à Londres avant de rentrer en France.</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-lg-6">
        <div class="equipe">
          <%= image_tag "ron.svg", class: "oval-equipe" %>
          <h2>Ron Danenberg</h2>
          <h3>📟 Back-end developer</h3>
          <p>Ron est en charge de l’architecture des serveurs, ce qui inclus les données et la sécurité de Bimedoc.</p>
          <p>
            Diplômé en informatique de King’s College London, ainsi que d’un MSc Technology Entrepreneurship au University College London, il a acquis une grande expérience du traitement des données en travaillant dans différentes entreprises technologiques de premier plan comme Hotels.com (Expedia), ainsi que plusieurs start-ups.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

