<div class="wrapper background-blue">
  <div class="vertical_align_header">
    <div class="titre_bpm">
      <h1>Application de formation et de réalisation des <a href="http://pharmacie-clinique.fr/?page_id=749">bilans partagés de médication</a>.</h1>
      <!-- Button trigger modal -->
      <button type="button" class="btn button_wrapper_bpm_blanc" data-toggle="modal" data-target="#exampleModalCenter">
        Voir la vidéo de présentation
      </button>
    </div>
    <div class="humans_pharmacien">
      <%= image_tag "humans_pharmacien.svg", class: "bas_gauche hide_on_mobile"%>
    </div>
    <div class="humans_fleur">
      <%= image_tag "humans_fleur.png", class: "bas_droite hide_on_mobile"%>
    </div>
    <div class="humans_ordinateur">
      <%= image_tag "humans_ordinateur.svg", class: "image_bpm_50"%>
    </div>
  </div>
</div>
<div class="container">

  <div class="fonctionnes">
    <h2 class="fonctionne-titre">Qu'est-ce qu'un bilan partagé de médication ?</h2>
    <p class="fonctionne-texte"style="color:black">Un BPM est une activité de pharmacie clinique réalisé en pharmacie avec le patient qui a pour objectifs de diminuer la iatrogénie médicamenteuse et de favoriser l'observance du patient.</p>
    <div class="deux-boutons">
      <%= link_to "En savoir plus", "http://pharmacie-clinique.fr/?page_id=749", class: "btn button_wrapper_bpm", target: "_blank" %>
    </div>
  </div>

  <div class="fonctionnes">
    <h2 class="fonctionne-titre">Comment ça fonctionne ?</h2>
    <p class="fonctionne-texte"style="color:black">Bimedoc vous permettra de réaliser vos bilans partagés de médication pendant votre stage de 6ème année, mais également de vous former à l'analyse pharmaceutique des prescriptions.</p>
    <p class="fonctionne-texte" style="color:black"><strong>Découvrez comment la plateforme fonctionne :</strong></p>
  </div>

  <div class="container_destkop hide_on_mobile">
    <div class="row">
      <div class="col-xs-12 col-sm-6 vertical_align">
        <%= image_tag "BPM_1heure.svg", class: "image_bpm centre-verticalement"%>
      </div>
      <div class="bilan col-xs-12 col-sm-6 vertical_align">
        <div class="centre-verticalement">
          <h2 style="font-weight:bold">Bilan en moins d’1 heure</h2>
          <p style="color:black">Selon les recommandations de l’assurance maladie et de la SFPC.</p>
        </div>
      </div>
      <div class="bilan col-xs-12 col-sm-6 vertical_align">
        <div class="centre-verticalement">
          <h2 style="font-weight:bold">Déclaration automatique sur AmeliPro</h2>
          <p style="color:black">Vous n’aurez plus besoin de vous connecter à votre espace AmeliPro.</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 vertical_align">
        <%= image_tag "BPM_ameli.svg", class: "image_bpm centre-verticalement"%>
      </div>
      <div class="col-xs-12 col-sm-6 vertical_align">
        <%= image_tag "BPM_analyse.svg", class: "image_bpm centre-verticalement"%>
      </div>
      <div class="bilan col-xs-12 col-sm-6 vertical_align">
        <div class="centre-verticalement">
          <h2 style="font-weight:bold">Module d’analyse d’ordonnance innovant</h2>
          <p style="color:black">Interactions médicamenteuses</p>
          <p style="color:black">Détection des médicaments inappropriés</p>
          <p style="color:black">Problème de forme galénique</p>
          <p style="color:black">Gestion du traitement</p>
          <p style="color:black">Intervention pharmaceutique pré-enregistrée pouvant être modifiée.</p>
        </div>
      </div>
      <div class="bilan col-xs-12 col-sm-6 vertical_align">
        <div class="centre-verticalement">
          <h2 style="font-weight:bold">Rédaction automatique d’une synthèse à envoyer au médecin traitant</h2>
          <p style="color:black">Envoi possible par messagerie sécurisée sans sortir de l'application.</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 vertical_align">
        <%= image_tag "synthese_BPM.svg", class: "image_bpm centre-verticalement"%>
      </div>
      <div class="col-xs-12 col-sm-6 vertical_align">
        <%= image_tag "BPM_plandeprise.svg", class: "image_bpm centre-verticalement"%>
      </div>
      <div class="bilan col-xs-12 col-sm-6 vertical_align">
        <div class="centre-verticalement">
          <h2 style="font-weight:bold">Plan de prise des médicaments</h2>
          <p style="color:black">Génération automatique d'un plan de prise à partir de l'entretien de recueil d'information.</p>
          <p style="color:black">Possibilité d'y associer des conseils de prises.</p>
        </div>
      </div>
      <div class="bilan col-xs-12 col-sm-6 vertical_align">
        <div class="centre-verticalement">
          <h2 style="font-weight:bold">Tableau de bord et rappels des entretiens de suivi à réaliser</h2>
          <p style="color:black">Email de rappel des entretiens de suivi à réaliser tous les 6 mois.</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 vertical_align">
        <%= image_tag "BPM_tableaubord.svg", class: "image_bpm centre-verticalement"%>
      </div>
    </div>
  </div>


  <div class="container container_mobile hide_on_destkop">
    <div class="row">
      <div class="bilan col-xs-12 col-sm-6 vertical_align_mobile">
        <div class="">
          <h2 style="font-weight:bold">Bilan en moins d’1 heure</h2>
          <p style="color:black">Selon les recommandations de l’assurance maladie et de la SFPC.</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 vertical_align_mobile">
        <%= image_tag "BPM_1heure.svg", class: "image_bpm"%>
      </div>
      <div class="bilan col-xs-12 col-sm-6 vertical_align_mobile">
        <div class="">
          <h2 style="font-weight:bold">Déclaration automatique sur AmeliPro</h2>
          <p style="color:black">Vous n’aurez plus besoin de vous connecter à votre espace AmeliPro.</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 vertical_align_mobile">
        <%= image_tag "BPM_ameli.svg", class: "image_bpm"%>
      </div>
      <div class="bilan col-xs-12 col-sm-6 vertical_align_mobile">
        <div class="">
          <h2 style="font-weight:bold">Module d’analyse d’ordonnance innovant</h2>
          <p style="color:black">Interactions médicamenteuses</p>
          <p style="color:black">Détection des médicaments inappropriés</p>
          <p style="color:black">Problème de forme galénique</p>
          <p style="color:black">Gestion du traitement</p>
          <p style="color:black">Intervention pharmaceutique pré-enregistrée pouvant être modifiée.</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 vertical_align_mobile">
        <%= image_tag "BPM_analyse.svg", class: "image_bpm"%>
      </div>
      <div class="bilan col-xs-12 col-sm-6 vertical_align_mobile">
        <div class="">
          <h2 style="font-weight:bold">Rédaction automatique d’une synthèse à envoyer au médecin traitant</h2>
          <p style="color:black">Envoi possible par messagerie sécurisée sans sortir de l'application.</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 vertical_align_mobile">
        <%= image_tag "synthese_BPM.svg", class: "image_bpm "%>
      </div>
      <div class="bilan col-xs-12 col-sm-6 vertical_align_mobile">
        <div class="">
          <h2 style="font-weight:bold">Plan de prise des médicaments</h2>
          <p style="color:black">Génération automatique d'un plan de prise à partir de l'entretien de recueil d'information.</p>
          <p style="color:black">Possibilité d'y associer des conseils de prises.</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 vertical_align_mobile">
        <%= image_tag "BPM_plandeprise.svg", class: "image_bpm"%>
      </div>
      <div class="bilan col-xs-12 col-sm-6 vertical_align_mobile">
        <div class="">
          <h2 style="font-weight:bold">Tableau de bord et rappels des entretiens de suivi à réaliser</h2>
          <p style="color:black">Email de rappel des entretiens de suivi à réaliser tous les 6 mois.</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 vertical_align_mobile">
        <%= image_tag "BPM_tableaubord.svg", class: "image_bpm"%>
      </div>
    </div>
  </div>
</div>

<div class="wrapper wrapper_bimedoc">
  <div class="wrapper_bpm">
    <h2 class="mr-4 ml-4">Inscrivez vous sur Bimedoc maintenant et formez vous à la réalisation des Bilans de Médication</h2>
    <div class="deux-boutons">
      <%= link_to "Je m'inscris maintenant", "/inscription.html", class: "btn button_wrapper_bpm", target: "_blank" %>
    </div>
    <p>Mis à disposition gratuitement par votre faculté pendant votre stage de 6ème année</p>
  </div>
</div>






<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" style="height:365px">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <iframe
        src="https://media.bimedoc.com/Video_demo_BPM.mp4"
        width="100%" height="337px"
        frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen
        sandbox>
      </iframe>
    </div>
  </div>
</div>
