<div class="index">
  <div class="container">
    <h2>Des fonctionnalités sur mesure pour les pharmaciens d'officine et les pharmaciens hospitaliers</h2>
    <div class="fonctionnalites">
      <div class="titre">
        <p>💊</p>
        <h3>Activité Pharmaceutique</h3>
        <tr class="line"> </tr>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-4">
          <div class="fonctionnalite">
            <%= image_tag "ok.svg", class: "oval-ok" %>
            <p class="black">Bilan (partagé) de médication</p>
            <p>Selon les recommandations de l’assurance maladie et de la SFPC</p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4">
          <div class="fonctionnalite">
            <%= image_tag "ok.svg", class: "oval-ok" %>
            <p class="black">Expertise pharmaceutique des prescriptions </p>
            <p>Permet la réalisation d’une anlyse de l’ensemble des traitements pris par le patient à l’aide des différents modules d’anlyse intégrés dans bimedoc.</p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4">
          <div class="fonctionnalite">
            <%= image_tag "ok.svg", class: "oval-ok" %>
            <p class="black">Entretien pharmaceutique</p>
            <p>Réalisation des entretiens pharmaceutiques AVK, AOD, corticoïdes inhalés. Possibilité d’implémenter d’autres types d’entretien pharmaceutique.</p>
          </div>
        </div>
      </div>

      <div class="titre">
        <p>🧠</p>
        <h3>Expertise pharmaceutique des prescriptions</h3>
        <tr class="line"></tr>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-4">
          <div class="fonctionnalite">
            <%= image_tag "ok.svg", class: "oval-ok" %>
            <p class="black">Interaction médicamenteuse</p>
            <p>Référentiels des interactions médicamenteuses de l’ANSM, interaction avec le jus de pamplemousse. </p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4">
          <div class="fonctionnalite">
            <%= image_tag "ok.svg", class: "oval-ok" %>
            <p class="black">Détection des overuse, underuse, misuse</p>
            <p>Intégration des listes Stopp & Start, Laroche, Anticholinergic Drug Scale, déficit en G6PD, cascades médicamenteuses.</p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4">
          <div class="fonctionnalite">
            <%= image_tag "ok.svg", class: "oval-ok" %>
            <p class="black">Demande d’avis pharmaceutique à un centre expert</p>
            <p>En un clic grace à nos centres expert partenaires (hôpitaux de votre région- voir la liste).</p>
          </div>
        </div>
      </div>

      <div class="titre">
        <p>🚀</p>
        <h3>Gagnez du temps</h3>
        <tr class="line"></tr>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-4">
          <div class="fonctionnalite">
            <%= image_tag "ok.svg", class: "oval-ok" %>
            <p class="black">Dossier patient informatisé </p>
            <p>Permet de sauvegarder et de retrouver l’ensemble des informations de vos patients.</p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4">
          <div class="fonctionnalite">
            <%= image_tag "ok.svg", class: "oval-ok" %>
            <p class="black">Pré-saisie des avis pharmaceutiques</p>
            <p>Intervention pharmaceutique pré-enregistré pouvant être modfié. </p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4">
          <div class="fonctionnalite">
            <%= image_tag "ok.svg", class: "oval-ok" %>
            <p class="black">Préparation des documents en cas de contrôle de l’AM</p>
            <p>Envoi sur MS Santé, Fax en 1 clic.</p>
          </div>
        </div>
      </div>


      <div class="titre">
        <p>👨‍💻</p>
        <h3>Un outil connecté</h3>
        <tr class="line"></tr>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-4">
          <div class="fonctionnalite">
            <%= image_tag "ok.svg", class: "oval-ok" %>
            <p class="black">Connecté au dossier médicale partagé</p>
            <p>Permet l’envoi des comptes rendu directement dans le DMP du patient.</p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4">
          <div class="fonctionnalite">
            <%= image_tag "ok.svg", class: "oval-ok" %>
            <p class="black">Synthèse automatique des avis pharmaceutiques</p>
            <p>Intégration des listes Stopp & Start, Laroche, Anticholinergic Drug Scale, médicaments innaprorpriés en cas de déficit en G6PD.</p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4">
          <div class="fonctionnalite">
            <%= image_tag "ok.svg", class: "oval-ok" %>
            <p class="black">Gestion de vos collaborateurs facilité</p>
            <p>Autorisation en 1 clic des pharmaciens de votre officine.</p>
          </div>
        </div>
      </div>


      <div class="titre">
        <p>👍</p>
        <h3>Envoi en un clic</h3>
        <tr class="line"></tr>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-4">
          <div class="fonctionnalite">
            <%= image_tag "ok.svg", class: "oval-ok" %>
            <p class="black">Déclaration automatique au portail AmeliPro</p>
            <p>Vos activités d’accompagnement pharmaceutique (entretien pharmaceutique, bilan partagé de médication) sont automatiquement déclaré à l’assurance maladie. Vous n’avez plus besoin de vous connecter à votre espace AméliPro.</p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4">
          <div class="fonctionnalite">
            <%= image_tag "ok.svg", class: "oval-ok" %>
            <p class="black">Pré-saisie des avis pharmaceutiques</p>
            <p>Intervention pharmaceutique pré-enregistré pouvant être modfié. </p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4">
          <div class="fonctionnalite">
            <%= image_tag "ok.svg", class: "oval-ok" %>
            <p class="black">Envoi électronique des courriers</p>
            <p>Envoi sur MS Santé, Fax en 1 clic</p>
          </div>
        </div>
      </div>



    </div>
  </div>
</div>
