  <div class="container">
    <div class="container-perso">
      <div class="description-fonctinnalites hide_on_mobile">
        <h2>Des <span id="color-blue">fonctionnalités sur mesure </span>pour les pharmaciens d'officine et les pharmaciens hospitaliers</h2>
      </div>
      <div class="fonctionnalites">
        <div class="titre">
          <h3 class="size">💊 Activités Pharmaceutiques</h3>
          <tr class="line"> </tr>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-lg-4">
            <div class="fonctionnalite">
              <i class="fas fa-check oval-ok"></i>
              <p class="black">Bilan (partagé) de médication</p>
              <p>Selon les recommandations de l’assurance maladie et de la SFPC.</p>
              <div class="mt-1">
                <%= link_to "En savoir plus", "/pharmacie_clinique.html", class: "btn-white-radius30 btn mt-1" %>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-lg-4">
            <div class="fonctionnalite">
              <i class="fas fa-check oval-ok"></i>
              <p class="black">Conciliation médicamenteuse</p>
              <p>Possibilité d’établir un bilan médicamenteux et de concilier ce dernier au regard de la prescription en cours.</p>
              <div class="mt-1">
                <%= link_to "En savoir plus", "/conciliation_medicamenteuse.html", class: "btn-white-radius30 btn mt-1" %>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-lg-4">
            <div class="fonctionnalite">
              <div class="">
                <i class="fas fa-check oval-ok"></i>
                <p class="black">Entretien pharmaceutique</p>
                <p>Réalisation des entretiens pharmaceutiques AVK, AOD, corticoïdes inhalés, chimiothérapie orale.</p>
              </div>
            </div>
          </div>
        </div>

        <div class="titre">
          <h3 class="size">🧠 Assistant d'analyse pharmaceutique</h3>
          <tr class="line"></tr>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-lg-4">
            <div class="fonctionnalite">
              <i class="fad fa-retweet oval-blue"></i>
              <p class="black">Interactions médicamenteuses</p>
              <p>Référentiels des interactions médicamenteuses de l’ANSM, interactions avec les plantes médicinales, le jus de pamplemousse... </p>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-lg-4">
            <div class="fonctionnalite">
              <i class="fad fa-user-times oval-red"></i>
              <p class="black">Détection des médicaments inappropriés</p>
              <p>Intégration des listes Stopp & Start, Laroche, Anticholinergic Drug Scale, déficit en G6PD, cascades médicamenteuses.</p>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-lg-4">
            <div class="fonctionnalite">
              <i class="fad fa-mortar-pestle oval-green"></i>
              <p class="black">Problème de forme galénique</p>
              <p>Liste sur les médicaments per os concernant l'écrasement des comprimés et l'ouverture des gélules (HAS, Thériaque, OMéDIT Haute Normandie, SFPC).</p>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-lg-4">
            <div class="fonctionnalite">
              <i class="fad fa-head-side-brain oval-purple"></i>
              <p class="black">Effets indésirables</p>
              <p>Recherche des médicaments pouvant engendrer un effet indésirable et classification par ordre de fréquence</p>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-lg-4">
            <div class="fonctionnalite">
              <i class="fad fa-book oval-orange"></i>
              <p class="black">Monographies des médicaments</p>
              <p>Accès à l'ensemble des monographies des médicaments commercialisés sur le marché français</p>
            </div>
          </div>


<!--           <div class="col-xs-12 col-sm-6 col-lg-4">
            <div class="fonctionnalite">
              <i class="fas fa-check oval-ok hide_on_mobile"></i>
              <p class="black">Interactions médicamenteuses</p>
              <p>Référentiels des interactions médicamenteuses de l’ANSM, interactions avec les plantes médicinales, le jus de pamplemousse. </p>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-lg-4">
            <div class="fonctionnalite">
              <i class="fas fa-check oval-ok hide_on_mobile"></i>
              <p class="black">Détection des médicaments inappropriés</p>
              <p>Intégration des listes Stopp & Start, Laroche, Anticholinergic Drug Scale, déficit en G6PD, cascades médicamenteuses.</p>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-lg-4">
            <div class="fonctionnalite">
              <i class="fas fa-check oval-ok hide_on_mobile"></i>
              <p class="black">Problème de forme galénique</p>
              <p>Liste sur les médicaments per os concernant l'écrasement des comprimés et l'ouverture des gélules (HAS, Thériaque, OMéDIT Haute Normandie, SFPC).</p>
            </div>
          </div> -->
        </div>

        <div class="titre">
          <h3 class="size">🚀 Gagnez du temps</h3>
          <tr class="line"></tr>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-lg-4">
            <div class="fonctionnalite">
              <i class="fad fa-camera-alt oval-green hide_on_mobile"></i>
              <p class="black">Prise en photos des ordonnances</p>
              <p>Reconnait toutes les informations médicamenteuses essentielles : DCI et/ou spécialité pharmaceutique, dose, forme galénique. </p>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-lg-4">
            <div class="fonctionnalite">
              <i class="fas fa-check oval-ok hide_on_mobile"></i>
              <p class="black">Tableau de bord</p>
              <p>Retrouvez d'un coup d'oeil les activités à réaliser et les activités à déclarer à l'assurance maladie.</p>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-lg-4">
            <div class="fonctionnalite">
              <i class="fas fa-check oval-ok hide_on_mobile"></i>
              <p class="black">Dossier de soin pharmaceutique</p>
              <p>Retrouvez les informations administratives (officine référente, médecin traitant, etc..) et physiopathologiques de vos patients.</p>
            </div>
          </div>
          <!-- Add the extra clearfix for only the required viewport -->
          <div class="clearfix visible-lg-block"></div>
          <div class="col-xs-12 col-sm-6 col-lg-4">
            <div class="fonctionnalite">
              <i class="fas fa-check oval-ok hide_on_mobile"></i>
              <p class="black">Pré-saisie des avis pharmaceutiques</p>
              <p>Intervention pharmaceutique pré-enregistrée pouvant être modifiée.</p>
            </div>
          </div>
        </div>


        <div class="titre">
          <h3 class="size">👨‍💻 Un outil connecté</h3>
          <tr class="line"></tr>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-lg-4">
            <div class="fonctionnalite">
              <i class="fas fa-check oval-ok hide_on_mobile"></i>
              <p class="black">Lien ville hôpital</p>
              <p>Partage des informations entre la ville et l'hôpital à l'aide d'un seul outil. Communication facilitée avec les autres professionnels de santé à l'aide de la messagerie sécurisée et du répertoire des professionnels de santé.</p>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-lg-4">
            <div class="fonctionnalite">
              <i class="fas fa-check oval-ok hide_on_mobile"></i>
              <p class="black">Integration</p>
              <p>Connexion possible à de nombreuses applications partenaires (AmeliPro, Medeo ...)</p>
              <div class="mt-1">
                <%= link_to "En savoir plus", "/integration.html", class: "btn-white-radius30 btn mt-1" %>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-lg-4">
            <div class="fonctionnalite">
              <i class="fas fa-check oval-ok hide_on_mobile"></i>
              <p class="black">Synthèse automatique</p>
              <p>Synthèse des avis pharmaceutiques, plan de prise, consentement patient, historique médicamenteux.</p>
            </div>
          </div>
          <!-- Add the extra clearfix for only the required viewport -->
          <div class="clearfix visible-lg-block"></div>
          <div class="col-xs-12 col-sm-6 col-lg-4">
            <div class="fonctionnalite">
              <i class="fas fa-check oval-ok hide_on_mobile"></i>
              <p class="black">Dossier médical partagé</p>
              <p>Permet l’envoi des comptes rendus directement dans le DMP du patient.</p>
              <p class="prochainement">Prochainement</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<div class="wrapper wrapper_bimedoc">
  <div class="wrapper_bpm">
    <h2>Développé par des pharmaciens, pour des pharmaciens</h2>
    <div class="deux-boutons">
      <%= link_to "Je m'inscris maintenant", "/inscription.html", class: "btn button_wrapper_bpm", target: "_blank" %>
      <%= link_to "Demander une démo", "/demo.html", class: "btn button_wrapper_bpm_blanc"%>
    </div>
    <p>30 € / Mois (HT) & Pharmacie, sans engagement</p>
  </div>
</div>
