<!-- Version desktop (hide on mobile) -->
<div class="container hide_on_mobile">
  <div class="hero">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <div class="vertical_align_hero mt-4">
          <div class="centre-verticalement_hero">
            <h1 style="font-weight:600" id="color-blue">Déclaration simplifié des tests antigéniques</h1>
            <p class="mt-2" style="font-size: 18px; color: black;">Bilan de médication, conciliation médicamenteuse, entretien pharmaceutique ...</p>
            <div class="deux-boutons-gauche mt-5">
              <%= link_to " Demander une démo", "/demo.html", class: "btn-blue btn btn-primary"%>
              <%= link_to " Je m'inscris maintenant", "/inscription.html", class: "btn-white btn", target: "_blank"%>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <div class="vertical_align_hero mt-4">
          <%= image_tag "bpm_symbol.png", class: "centre-verticalement_hero" %>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
          <div class="text-center"><i class="fad fa-stopwatch fa-3x icone_blue"></i></div>
          <div class="pt-05 pb-05 pt-1 text-center"><p>Gagner du temps</p></div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
          <div class="text-center"><i class="fad fa-chart-network fa-3x icone_blue"></i></div>
          <div class="pt-05 pb-05 pt-1 text-center"><p>Accéder rapidement à une information fiable, validée et pertinente sur les médicaments</p></div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
          <div class="text-center"><i class="fad fa-chart-line fa-3x icone_blue"></i></div>
          <div class="pt-05 pb-05 pt-1 text-center"><p>Améliorer la satisfaction de vos patients</p></div>
        </div>
      </div>
    </div>
  </div>
  <h3 style="text-align: center; font-weight: bold !important" class="mt-4 mb-1">Rejoignez plus de 500 pharmaciens qui simplifient leur quotidien avec Bimedoc</h3>
  <div class="flex center">
    <div class="text-center mr-3 ml-3">
      <%= image_tag "apm.png", id: "logo-client" %>
    </div>
    <div class="text-center mr-4 ml-4">
      <%= image_tag "nep.png", id: "logo-client" %>
    </div>
    <div class="text-center mr-4 ml-4">
      <%= image_tag "g1000.png", id: "logo-client" %>
    </div>
    <div class="text-center mr-4 ml-4">
      <%= image_tag "pgs.png", id: "logo-client" %>
    </div>
    <div class="text-center mr-4 ml-4">
      <%= image_tag "orphie.png", id: "logo-client" %>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-xs-12 col-sm-6 order-last">
      <div class="vertical_align_60">
        <div class="centre-verticalement_50_100">
          <h3 class="pb-1">Bilan partagé de médication</h3>
          <div class=flex>
           <i class="fal fa-check oval_14px fa-xs"></i><p>Bilan en moins d'1 heure</p>
          </div>
          <div class=flex>
           <i class="fal fa-check oval_14px fa-xs"></i><p>Module d’analyse d’ordonnance innovant</p>
          </div>
          <div class=flex>
           <i class="fal fa-check oval_14px fa-xs"></i><p>Rédaction automatique d’une synthèse pour le médecin traitant</p>
          </div>
          <div class=flex>
           <i class="fal fa-check oval_14px fa-xs"></i><p>Plan de prise des médicaments</p>
          </div>
          <div class=flex>
           <i class="fal fa-check oval_14px fa-xs"></i><p>Déclaration automatique à l'assurance maladie</p>
          </div>
          <div class="deux-boutons-gauche mt-2">
            <button type="button" class="btn-blue btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
              Voir la vidéo de présentation
            </button>
            <%= link_to "Qu'est-ce qu'un BPM ?", "/bilan_partage_de_medication.html", class: "btn-white btn"%>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 vertical_align_60 order-first">
      <div class="centre-verticalement_50_100">
        <%= image_tag "bpm.jpg", class: "image_bpm box-shadow-gray"%>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 vertical_align_60">
      <div class="centre-verticalement_50_100">
        <%= image_tag "assistant.png", class: "image_bpm box-shadow-gray"%>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 ">
      <div class="vertical_align_60">
        <div class="centre-verticalement_50_100">
          <h3 class="pb-1">Assistant d'analyse pharmaceutique</h3>
          <div class=flex>
           <i class="fal fa-check oval_14px fa-xs"></i><p>Base médicamenteuse de l'ANSM</p>
          </div>
          <div class=flex>
           <i class="fal fa-check oval_14px fa-xs"></i><p>Détection des intéractions médicamenteuses</p>
          </div>
          <div class=flex>
           <i class="fal fa-check oval_14px fa-xs"></i><p>Détection des alternatives de forme galénique</p>
          </div>
          <div class=flex>
           <i class="fal fa-check oval_14px fa-xs"></i><p>Détection des médicaments inappropriés</p>
          </div>
          <div class=flex>
           <i class="fal fa-check oval_14px fa-xs"></i><p>Charge anticholinergique</p>
          </div>
          <div class="deux-boutons-gauche mt-2">
            <%= link_to "En savoir plus", "/pharmacie_clinique.html", class: "btn-blue btn btn-primary"%>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 ">
      <div class="vertical_align_60">
        <div class="centre-verticalement_50_100">
          <h3 class="pb-1">Conciliation médicamenteuse</h3>
          <div class=flex>
           <i class="fal fa-check oval_14px fa-xs"></i><p>Toutes les étapes de la conciliation médicamenteuse réunies dans un seul outil</p>
          </div>
          <div class=flex>
           <i class="fal fa-check oval_14px fa-xs"></i><p>Assistant d'analyse pharmaceutique intégré</p>
          </div>
          <div class=flex>
           <i class="fal fa-check oval_14px fa-xs"></i><p>Export pdf à chaque étape</p>
          </div>
          <div class=flex>
           <i class="fal fa-check oval_14px fa-xs"></i><p>Lien ville hôpital facilité à l'aide de la messagerie sécurisée intégrée</p>
          </div>
          <div class=flex>
           <i class="fal fa-check oval_14px fa-xs"></i><p>Outils statistiques de suivi de l'activité</p>
          </div>
          <div class="deux-boutons-gauche mt-2">
            <p class="prochainement">Prochainement</p>

          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 vertical_align_60">
      <div class="centre-verticalement_50_100">
        <%= image_tag "bilanmedicamenteux.jpg", class: "image_bpm box-shadow-gray"%>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 vertical_align_60">
      <div class="centre-verticalement_50_100">
        <%= image_tag "annuaire.png", class: "image_bpm box-shadow-gray"%>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 ">
      <div class="vertical_align_60">
        <div class="centre-verticalement_50_100">
          <h3 class="pb-1">Messagerie sécurisée</h3>
          <p>Bimedoc vous permet d'envoyer n'importe quel document directement depuis l'application par messagerie sécurisée (synthèse pharmaceutique, bilan médicamenteux ...).</p>
          <p>Dans le cadre de la synthèse du bilan partagé de médication le médecin traitant pourra vous répondre directement dans l'application.</p>
          <div class="deux-boutons-gauche mt-2">
            <%= link_to "En savoir plus", "/pharmacie_clinique.html", class: "btn-blue btn btn-primary"%>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 ">
      <div class="vertical_align_60">
        <div class="centre-verticalement_50_100">
          <h3 class="pb-1">Entretien pharmaceutique</h3>
          <div class=flex>
           <i class="fal fa-check oval_14px fa-xs"></i><p>Intuitif et rapide</p>
          </div>
          <div class=flex>
           <i class="fal fa-check oval_14px fa-xs"></i><p>Assistant d'analyse pharmaceutique intégré</p>
          </div>
          <div class=flex>
           <i class="fal fa-check oval_14px fa-xs"></i><p>Intègre des supports d’information et d’éducation à destination des patients</p>
          </div>
          <div class=flex>
           <i class="fal fa-check oval_14px fa-xs"></i><p>Plan de prise des médicaments incluant des conseils</p>
          </div>
          <div class=flex>
           <i class="fal fa-check oval_14px fa-xs"></i><p>Rappels des entretiens thématiques à réaliser</p>
          </div>
          <div class=flex>
           <i class="fal fa-check oval_14px fa-xs"></i><p>Selon les recommandations de l’assurance maladie</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 vertical_align_60">
      <div class="centre-verticalement_50_100">
        <%= image_tag "entretien.jpg", class: "image_bpm box-shadow-gray"%>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 vertical_align_60">
      <div class="centre-verticalement_50_100">
        <%= image_tag "plandeprise.png", class: "image_bpm box-shadow-gray"%>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 ">
      <div class="vertical_align_60">
        <div class="centre-verticalement_50_100">
          <h3>Plan de prise des traitements</h3>
          <p class="pb-1">Bimedoc vous permet d'éditer un plan de prise de manière simple</p>
          <div class=flex>
           <i class="fal fa-check oval_14px fa-xs"></i><p>Posologie</p>
          </div>
          <div class=flex>
           <i class="fal fa-check oval_14px fa-xs"></i><p>Indication</p>
          </div>
          <div class=flex>
           <i class="fal fa-check oval_14px fa-xs"></i><p>Conseils personnalisés</p>
          </div>
          <div class="deux-boutons-gauche mt-2">
            <%= link_to "En savoir plus", "/pharmacie_clinique.html", class: "btn-blue btn btn-primary"%>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- ######
VERSION MOBILE (hide on destkop)
##### -->
<div class="container hide_on_destkop">
  <div class="">
    <div class="row">
      <div class="col-xs-12">
        <div class="mt-10 text-center">
          <%= image_tag "bpm_symbol.png", class: "image_bpm "%>
        </div>
      </div>
      <div class="col-xs-12">
        <div class="">
          <div class=" text-center mt-2 mb-2">
            <h1 style="font-weight:600" id="color-blue">Votre logiciel de soins pharmaceutiques</h1>
            <h4 class="mt-3" style="font-weight: bold">Bilan de médication, conciliation médicamenteuse, entretien pharmaceutique ...</h4>
            <div class="deux-boutons mt-1">
              <div class="mt-1">
                <%= link_to " Demander une démo", "/demo.html", class: "btn-blue btn btn-primary"%>
              </div>
              <div class="mt-1">
                <%= link_to " Je m'inscris maintenant", "/inscription.html", class: "btn-white btn mt-1", target: "_blank"%>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 mt-2">
          <div class="text-center"><i class="fad fa-stopwatch fa-3x icone_blue"></i></div>
          <div class="pt-05 pb-05 pt-1 text-center"><p>Gagner du temps</p></div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 pl-3 pr-3 mt-2">
          <div class="text-center"><i class="fad fa-chart-network fa-3x icone_blue"></i></div>
          <div class="pt-05 pb-05 pt-1 text-center"><p>Accèder rapidement à une information fiable, validée et pertinente sur les médicaments</p></div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 mt-2">
          <div class="text-center"><i class="fad fa-chart-line fa-3x icone_blue"></i></div>
          <div class="pt-05 pb-05 pt-1 text-center"><p>Améliorer la satisfaction de vos patients</p></div>
        </div>
      </div>
    </div>
  </div>

    <h3 style="text-align: center; font-weight: bold !important" class="mt-4 mb-4">Rejoignez plus de 500 pharmaciens qui simplifient leur quotidien avec Bimedoc</h3>

  <div class="row">
    <div class="col-xs-12 mt-2 text-center">
      <div class="">
        <%= image_tag "bpm.jpg", class: "image_bpm box-shadow-gray"%>
      </div>
    </div>
    <div class="col-xs-12">
      <div class="vertical_align_60">
        <div class="centre-verticalement_50_100">
          <h3 class="pb-1 text-center">Bilan partagé de médication</h3>
          <div class=flex>
           <i class="fal fa-check oval_14px fa-xs"></i><p>Bilan en moins d'1 heure</p>
          </div>
          <div class=flex>
           <i class="fal fa-check oval_14px fa-xs"></i><p>Module d’analyse d’ordonnance innovant</p>
          </div>
          <div class=flex>
           <i class="fal fa-check oval_14px fa-xs"></i><p>Rédaction automatique d’une synthèse pour le médecin traitant</p>
          </div>
          <div class=flex>
           <i class="fal fa-check oval_14px fa-xs"></i><p>Plan de prise des médicaments</p>
          </div>
          <div class=flex>
           <i class="fal fa-check oval_14px fa-xs"></i><p>Déclaration automatique à l'assurance maladie</p>
          </div>
          <div class="deux-boutons mt-1">
            <div class="mt-1">
            <button type="button" class="btn-blue btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
              Voir la vidéo de présentation
            </button>
          </div>
            <div class="mt-1">
              <%= link_to "Qu'est-ce qu'un BPM ?", "/bilan_partage_de_medication.html", class: "btn-white btn"%>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12  mt-5 text-center">
      <div class="">
        <%= image_tag "entretien.jpg", class: "image_bpm box-shadow-gray"%>
      </div>
    </div>
    <div class="col-xs-12">
      <div class="vertical_align_60">
        <div class="centre-verticalement_50_100">
          <h3 class="pb-1">Entretien pharmaceutique</h3>
          <div class=flex>
           <i class="fal fa-check oval_14px fa-xs"></i><p>Intuitif et rapide</p>
          </div>
          <div class=flex>
           <i class="fal fa-check oval_14px fa-xs"></i><p>Assistant d'analyse pharmaceutique intégré</p>
          </div>
          <div class=flex>
           <i class="fal fa-check oval_14px fa-xs"></i><p>Intègre des supports d’information et d’éducation à destination des patients</p>
          </div>
          <div class=flex>
           <i class="fal fa-check oval_14px fa-xs"></i><p>Plan de prise des médicaments incluant des conseils</p>
          </div>
          <div class=flex>
           <i class="fal fa-check oval_14px fa-xs"></i><p>Rappels des entretiens thématiques à réaliser</p>
          </div>
          <div class=flex>
           <i class="fal fa-check oval_14px fa-xs"></i><p>Selon les recommandations de l’assurance maladie</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12  mt-5 text-center">
      <div class="">
        <%= image_tag "assistant.png", class: "image_bpm box-shadow-gray"%>
      </div>
    </div>
    <div class="col-xs-12">
      <div class="vertical_align_60">
        <div class="centre-verticalement_50_100">
          <h3 class="pb-1 text-center">Assistant d'analyse pharmaceutique</h3>
          <div class=flex>
           <i class="fal fa-check oval_14px fa-xs"></i><p>Base médicamenteuse de l'ANSM</p>
          </div>
          <div class=flex>
           <i class="fal fa-check oval_14px fa-xs"></i><p>Détection des intéractions médicamenteuses</p>
          </div>
          <div class=flex>
           <i class="fal fa-check oval_14px fa-xs"></i><p>Détection des alternatives de forme galénique</p>
          </div>
          <div class=flex>
           <i class="fal fa-check oval_14px fa-xs"></i><p>Détection des médicaments inappropriés</p>
          </div>
          <div class=flex>
           <i class="fal fa-check oval_14px fa-xs"></i><p>Charge anticholinergique</p>
          </div>
          <div class="text-center mt-2">
            <%= link_to "En savoir plus", "/pharmacie_clinique.html", class: "btn-blue btn btn-primary"%>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12  mt-5 text-center">
      <div class="">
        <%= image_tag "bilanmedicamenteux.jpg", class: "image_bpm box-shadow-gray"%>
      </div>
    </div>
    <div class="col-xs-12 ">
      <div class="vertical_align_60">
        <div class="centre-verticalement_50_100">
          <h3 class="pb-1">Conciliation médicamenteuse</h3>
          <div class=flex>
           <i class="fal fa-check oval_14px fa-xs"></i><p>Toutes les étapes de la conciliation médicamenteuse réunies dans un seul outil</p>
          </div>
          <div class=flex>
           <i class="fal fa-check oval_14px fa-xs"></i><p>Assistant d'analyse pharmaceutique intégré</p>
          </div>
          <div class=flex>
           <i class="fal fa-check oval_14px fa-xs"></i><p>Export pdf à chaque étape</p>
          </div>
          <div class=flex>
           <i class="fal fa-check oval_14px fa-xs"></i><p>Lien ville hôpital facilité à l'aide de la messagerie sécurisée intégrée</p>
          </div>
          <div class=flex>
           <i class="fal fa-check oval_14px fa-xs"></i><p>Outils statistiques de suivi de l'activité</p>
          </div>
          <div class="deux-boutons mt-2">

            <p class="prochainement">Prochainement</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12  mt-5 text-center">
      <div class="">
        <%= image_tag "annuaire.png", class: "image_bpm box-shadow-gray"%>
      </div>
    </div>
    <div class="col-xs-12  ">
      <div class="vertical_align_60">
        <div class="centre-verticalement_50_100">
          <h3 class="pb-1 text-center">Messagerie sécurisée</h3>
          <p>Bimedoc vous permet d'envoyer n'importe quel document directement depuis l'application par messagerie séucrisée (synthèse pharmaceutique, bilan médicamenteux ...).</p>
          <p>Dans le cadre de la synthèse du bilan partagé de médication le médecin traitant pourra vous répondre directement dans l'application.</p>
          <div class="mt-2 text-center">
            <%= link_to "En savoir plus", "/pharmacie_clinique.html", class: "btn-blue btn btn-primary"%>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xs-12  mt-5 text-center">
      <div class="">
        <%= image_tag "plandeprise.png", class: "image_bpm box-shadow-gray"%>
      </div>
    </div>
    <div class="col-xs-12  ">
      <div class="vertical_align_60">
        <div class="centre-verticalement_50_100">
          <h3 class="text-center">Plan de prise des traitements</h3>
          <p class="pb-1">Bimedoc vous permet d'éditer un plan de prise de manière simple</p>
          <div class=flex>
           <i class="fal fa-check oval_14px fa-xs"></i><p>Posologie</p>
          </div>
          <div class=flex>
           <i class="fal fa-check oval_14px fa-xs"></i><p>Indication</p>
          </div>
          <div class=flex>
           <i class="fal fa-check oval_14px fa-xs"></i><p>Conseils personnalisés</p>
          </div>
          <div class="text-center mt-2">
            <%= link_to "En savoir plus", "/pharmacie_clinique.html", class: "btn-blue btn btn-primary"%>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<!-- ####### -->
<!-- MOBILE ET DESKTOP -->
<!-- ###### -->
<div class="container">
  <div class="partenaires">
    <div class="titre-partenaire">
      <h2 class="text-center">Ils nous font confiance</h2>
      <h2  id="color-blue" class="text-center">Partenaires</h2>
    </div>
    <div class="row padding-left">
      <div class="col-xs-12 col-sm-12 col-lg-3 partenaire mt-1 mb-1">
        <p>Lauréat de : </p>
        <a href="https://poussatlys.fr/" target="_blank">
          <%= image_tag "french_tech_seed.png", id: "logo-partenaire" %>
        </a>
      </div>
      <div class="col-xs-12 col-sm-12 col-lg-3 partenaire mt-1 mb-1">
        <p>Membre de :</p>
        <a href="http://www.phast.fr/" target="_blank">
          <%= image_tag "phast.png", id: "logo-partenaire" %>
        </a>
      </div>
      <div class="col-xs-12 col-sm-12 col-lg-3 partenaire mt-1 mb-1">
        <p>Membre de :</p>
        <a href="http://www.lyonfrenchtech.com/" target="_blank">
          <%= image_tag "lyonfrenchtech.svg", id: "logo-partenaire" %>
        </a>
      </div>
      <div class="col-xs-12 col-sm-12 col-lg-3 partenaire mt-1 mb-1">
        <p>Hébergé et accéléré par : </p>
        <a href="http://www.h-7.eu/" target="_blank">
          <%= image_tag "H7.jpg", id: "logo-partenaire" %>
        </a>
      </div>
      <div class="col-xs-12 col-sm-12 col-lg-3 partenaire mt-1">
        <p>Financé et accéléré par :</p>
        <a href="http://www.pulsalys.fr/" target="_blank">
          <%= image_tag "pulsalys.png", id: "logo-partenaire" %>
        </a>
      </div>
      <div class="col-xs-12 col-sm-12 col-lg-3 partenaire mt-1">
        <p>Partenaire de :</p>
        <a href="http://www.theriaque.org/" target="_blank">
          <%= image_tag "theriaque.jpg", id: "logo-partenaire" %>
        </a>
      </div>
      <div class="col-xs-12 col-sm-12 col-lg-3 partenaire mt-1">
        <p>Sélectionné pour la bourse French tech par :</p>
        <a href="https://www.bpifrance.fr/" target="_blank">
          <%= image_tag "bpifrance.png", id: "logo-partenaire" %>
        </a>
      </div>

<!--       <div class="col-xs-12 col-sm-12 col-lg-3 partenaire">
        <a href="http://www.urps-pharmaciens-paca.fr/" target="_blank">
          <%= image_tag "urpspaca.svg", id: "logo-partenaire" %>
        </a>
      </div> -->

<!--       <div class="col-xs-12 col-sm-12 col-lg-3 partenaire">
        <a href="https://esante.gouv.fr/" target="_blank">
          <%= image_tag "asipsante.png", id: "logo-partenaire" %>
        </a>
      </div> -->

<!--       <div class="col-xs-12 col-sm-12 col-lg-3 partenaire">
        <a href="http://www.urps-pharmaciens-idf.fr/" target="_blank">
          <%= image_tag "urpsidf.png", id: "logo-partenaire" %>
        </a>
      </div> -->

    </div>
  </div>
  <div class="partenaires mt-10">
    <h2 class="text-center mb-1">La presse parle de nous</h3>
    <div class="row padding-left">
      <div class="col-xs-12 col-sm-12 col-lg-4">
        <a href="https://www.bimedoc.com/media/bimedoc_pharmaradio_20190410.mp3" target="_blank">
          <%= image_tag "pharmaradio.png", id: "logo-media" %>
        </a>
      </div>
      <div class="col-xs-12 col-sm-12 col-lg-4">
        <a href="https://www.lequotidiendupharmacien.fr/actualite-pharmaceutique/article/2019/10/17/les-bilans-partages-de-medication-en-toute-simplicite_280306" target="_blank">
          <%= image_tag "quotidien.png", id: "logo-media" %>
        </a>
      </div>
      <div class="col-xs-12 col-sm-12 col-lg-4">
        <a href="https://www.lemoniteurdespharmacies.fr/revues/le-moniteur-des-pharmacies/article/n-3294/un-logiciel-pour-faciliter-la-pratique-des-bilans-de-medication.html" target="_blank">
          <%= image_tag "moniteur.jpg", id: "logo-media" %>
        </a>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="text-center mt-10 mb-4">
    <h2>Plus qu’un logiciel, Bimedoc est un projet et une communauté</h2>
    <br>
    <p>Nous échangeons quotidiennement avec nos utilisateurs pour avoir des retours et des idées. Bimedoc est constamment amélioré et enrichi grâce à la communauté.</p>
    <p>L’objectif est d’être toujours plus utile pour vous et votre pratique</p>
  </div>
</div>



<div class="wrapper wrapper_bimedoc">
  <div class="wrapper_bpm">
    <h2>Développé par des pharmaciens, pour des pharmaciens</h2>
    <div class="deux-boutons">
      <%= link_to "Je m'inscris maintenant", "/inscription.html", class: "btn button_wrapper_bpm", target: "_blank" %>
      <%= link_to "Demander une démo", "/demo.html", class: "btn button_wrapper_bpm_blanc"%>
    </div>
    <p>30 € / Mois (HT) & Pharmacie, sans engagement</p>
  </div>
</div>



<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" style="height:365px">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <iframe
        src="https://media.bimedoc.com/Video_demo_BPM.mp4"
        width="100%" height="337px"
        frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen
        sandbox>
      </iframe>
    </div>
  </div>
</div>

