<div class="container">


  <div class="hero">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <div class="hero-description">
          <h1 style="font-weight:600" id="color-blue">Votre logiciel de soins pharmaceutiques</h1>
          <h3>Bilan de médication, conciliation médicamenteuse, entretien pharmaceutique ...</h3>
          <br>
          <br>
          <%= link_to " 👉 Demander une démo en ligne", "/demo.html", class: "btn-purple btn btn-primary"%>
          <br>
          <br>
          <br>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
       <!--  <div class="hero-image">
          <%= image_tag "hero.svg", id: "hero-image" %>
        </div> -->
        <div class="hero-asset hide_on_mobile">
          <%= image_tag "bimedoc-preview.svg", id: "hero-bleu" %>
        </div>
<!--         <div class="play">
          <a href="https://medium.com/bimedoc" class="cta btn-primary-small">
            <div class="rond-play">
              <div class="icon-play">
                <i class="fas fa-play"></i>
              </div>
            </div>
          </a>
        </div> -->

      </div>
    </div>
  </div>
</div>


<div class="section-border reverse">
  <svg class="bottom-concave-white" viewBox='0 0 1440 48' version='1.1'>
    <g id='bottom-concave' transform='translate(0.000000, -436.000000)'>
    <g id='Group-6' fill='white' fill-rule='nonzero'>
    <path d='M1440,484 C1225.09668,452 985.09668,436 720,436 C627.991932,436 539.007013,437.927362 453.045242,441.782085 C345.235831,446.616507 194.22075,460.689145 0,484 L0,436 L1440,436 L1440,484 Z' id='background-circular-shape-2'></path>
    </g>
    </g>
  </svg>
</div>

<div class="header header_gray">
  <div class="container cards_fonctionnalites_center">
    <div class="row">
      <div class="col-xs-12 col-sm-12">
        <div class="subtitle">
            <h2 style="text-align: center; ">Bimedoc s'adresse à tous les pharmaciens que vous soyez en ville ou en établissement de santé</h2>
        </div>
      </div>
      <div class="cards_fonctionalites">
        <div class="col-xs-12 col-sm-6 ">
          <div class="card_fonctionalite">
            <%= image_tag "bonhomme_ordi.svg", id: "card-fonctionnalite-image"%>
            <h3>Bilan partagé de médication</h3>
            <br>
            <p>Bilan en moins de 1 heure</p>
            <p>Déclaration automatique sur AmeliPro</p>
            <p>Module d'analyse d'ordonnance innovant</p>
            <p>Rédaction automatique d’une synthèse pharmaeutique</p>
            <p>Plan de prise des médicaments</p>
            <p>Rappel des entretiens de suivi à réaliser</p>
            <div class="button">
              <a href="/bilan_partage_de_medication.html" class="cta btn-primary-small">En savoir plus</a>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 ">
          <div class="card_fonctionalite">
            <%= image_tag "prescription.svg", id: "card-fonctionnalite-image" %>
            <h3>Assistant d'analyse pharmaceutique</h3>
            <br>
            <p>Base médicamenteuse de l'ANSM</p>
            <p>Détection des intéractions médicamenteuses</p>
            <p>Détection des médicaments inappropriés</p>
            <p>Détection des alternatives de forme galénique</p>
            <p>Charge anticholinergique</p>
            <div class="button">
              <a href="https://analyse.bimedoc.com/interface/analysis" class="cta btn-primary-small">Essayer la version gratuite</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>










<div class="container">
  <div class="partenaires">
    <div class="titre-partenaire">
      <h2>Ils nous font confiance</h2>
      <h2  id="color-blue">Partenaires</h2>
    </div>
    <div class="row padding-left">
      <div class="col-xs-12 col-sm-12 col-lg-3">
        <a href="http://www.theriaque.org/" target="_blank">
          <%= image_tag "theriaque.jpg", id: "logo-partenaire" %>
        </a>
      </div>
      <div class="col-xs-12 col-sm-12 col-lg-3 partenaire">
        <a href="https://www.bpifrance.fr/" target="_blank">
          <%= image_tag "bpifrance.png", id: "logo-partenaire" %>
        </a>
      </div>
      <div class="col-xs-12 col-sm-12 col-lg-3 partenaire">
        <a href="http://www.lyonfrenchtech.com/" target="_blank">
          <%= image_tag "lyonfrenchtech.svg", id: "logo-partenaire" %>
        </a>
      </div>
      <div class="col-xs-12 col-sm-12 col-lg-3 partenaire">
        <a href="http://www.urps-pharmaciens-paca.fr/" target="_blank">
          <%= image_tag "urpspaca.svg", id: "logo-partenaire" %>
        </a>
      </div>
      <div class="col-xs-12 col-sm-12 col-lg-3 partenaire">
        <a href="http://www.h-7.eu/" target="_blank">
          <%= image_tag "H7.jpg", id: "logo-partenaire" %>
        </a>
      </div>
      <div class="col-xs-12 col-sm-12 col-lg-3 partenaire">
        <a href="https://esante.gouv.fr/" target="_blank">
          <%= image_tag "asipsante.png", id: "logo-partenaire" %>
        </a>
      </div>
      <div class="col-xs-12 col-sm-12 col-lg-3 partenaire">
        <a href="http://www.phast.fr/" target="_blank">
          <%= image_tag "phast.png", id: "logo-partenaire" %>
        </a>
      </div>
      <div class="col-xs-12 col-sm-12 col-lg-3 partenaire">
        <a href="http://www.urps-pharmaciens-idf.fr/" target="_blank">
          <%= image_tag "urpsidf.png", id: "logo-partenaire" %>
        </a>
      </div>
    </div>
  </div>

  <div class="partenaires">
    <div class="titre-partenaire">
      <h2 >Ils parlent de nous,</h2>
      <h2 id="color-blue">et nous, on vous en parle !</h2>
    </div>
    <div class="row padding-left">
      <div class="col-xs-12 col-sm-12 col-lg-4">
        <a href="https://www.bimedoc.com/media/bimedoc_pharmaradio_20190410.mp3" target="_blank">
          <%= image_tag "pharmaradio.png", id: "logo-media" %>
        </a>
      </div>
      <div class="col-xs-12 col-sm-12 col-lg-4">
        <a href="https://www.lequotidiendupharmacien.fr/actualite-pharmaceutique/article/2019/10/17/les-bilans-partages-de-medication-en-toute-simplicite_280306" target="_blank">
          <%= image_tag "quotidien.png", id: "logo-media" %>
        </a>
      </div>
      <div class="col-xs-12 col-sm-12 col-lg-4">
        <a href="https://www.lemoniteurdespharmacies.fr/revues/le-moniteur-des-pharmacies/article/n-3294/un-logiciel-pour-faciliter-la-pratique-des-bilans-de-medication.html" target="_blank">
          <%= image_tag "moniteur.jpg", id: "logo-media" %>
        </a>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="text-center mt-4 mb-4">
    <h2>Plus qu’un logiciel, Bimedoc est un projet et une communauté</h2>
    <br>
    <p>Nous échangeons quotidiennement avec nos utilisateurs pour avoir des retours et des idées. Bimedoc est constamment amélioré et enrichi grâce à la communauté.</p>
    <p>L’objectif est d’être toujours plus utile pour vous et votre pratique</p>
  </div>
</div>

<div class="section-border reverse">
  <svg class="bottom-concave-white" viewBox='0 0 1440 48' version='1.1'>
    <g id='bottom-concave' transform='translate(0.000000, -436.000000)'>
    <g id='Group-6' fill='white' fill-rule='nonzero'>
    <path d='M1440,484 C1225.09668,452 985.09668,436 720,436 C627.991932,436 539.007013,437.927362 453.045242,441.782085 C345.235831,446.616507 194.22075,460.689145 0,484 L0,436 L1440,436 L1440,484 Z' id='background-circular-shape-2'></path>
    </g>
    </g>
  </svg>
</div>
<div class="header header_gray">
  <div class="container cards_fonctionnalites_center">
    <div class="row">
      <div class="col-xs-12 col-sm-12">
        <div class="subtitle">
            <h2 style="text-align: center; ">A découvrir sur notre blog</h2>
        </div>
      </div>
      <div class="cards_fonctionalites">
        <div class="col-xs-12 col-sm-6 ">
          <div class="card_fonctionalite">
            <%= image_tag "bilanmedicationdigital.svg", id: "card-fonctionnalite-image-blog"%>
            <h3>5 avantages d'un bilan partagé de médication digitalisé</h3>
            <br>
            <p>Bien que cette nouvelle activité marque une évolution majeure dans le métier du pharmacien, la réalité du terrain tend à rendre sa mise en place à l’officine difficile.</p>
            <div class="button">
              <a href="https://medium.com/bimedoc/5-avantages-dun-bilan-partag%C3%A9-de-m%C3%A9dication-digitalis%C3%A9-b9c5ea07a547" class="cta btn-primary-small">Lire la suite</a>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 ">
          <div class="card_fonctionalite">
            <%= image_tag "bpm_explication.jpg", id: "card-fonctionnalite-image-blog" %>
            <h3>Qu'est-ce qu'un bilan partagé de médication ?</h3>
            <br>
            <br>
            <p>Dans cet article vous découvrirez les différentes étapes du bilan de médication, les patients qui sont éligible ou encore la rémunération.</p>
            <div class="button">
              <%= link_to "Lire la suite", "/bilan_medication_explication.html", class: "cta btn-primary-small" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="button-blog mt-4 mb-1">
    <a href="https://medium.com/bimedoc" class="cta btn-primary-small">Découvrez les autres articles de notre blog</a>
  </div>
</div>

<div class="wrapper wrapper_bimedoc">
  <div class="wrapper_bpm">
    <h2>Développé par des pharmaciens, pour des pharmaciens</h2>
    <div class="deux-boutons">
      <%= link_to "Je m'inscris maintenant", "https://app.bimedoc.com/auth/signup", class: "btn button_wrapper_bpm", target: "_blank" %>
      <%= link_to "Demander une démo", "/demo.html", class: "btn button_wrapper_bpm_blanc"%>
    </div>
    <p>30 € / Mois (HT) & Pharmacie, sans engagement</p>
  </div>
</div>





