---
title: Le Wagon - Middleman
---
<div class="index">

  <div class="hero">
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div class="hero-description">
          <h1><span id="color-blue">Les activités de pharmacie clinique en toute simplicité</span> pour les officinaux et les hospitaliers</h1>
          <%= link_to "Premier pas avec bimedoc", " ", class: "btn-purple btn btn-primary" %>
          <p>Tout sur le service, les fonctions et les prix.</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="hero-image">
          <%= image_tag "hero.svg", id: "hero-image" %>
        </div>
      </div>
    </div>
  </div>






  <div class="container">
    <div class="bloc-cards">
      <div class="sentence-developpe-par">
        <h2>Développé par des pharmaciens <span id="color-blue">pour des pharmaciens</span></h2>
      </div>
      <div class="cards card-1">
        <%= image_tag "check.svg", id: "logo" %>
        <h3>Bilan (partagé) de médication</h3>
      </div>
      <div class="cards card-2">
        <%= image_tag "brain.svg", id: "logo" %>
        <h3>Expertise pharmaceutique des prescriptions</h3>
      </div>
      <div class="cards card-3">
        <%= image_tag "dossier-patient.svg", id: "logo" %>
        <h3>Dossier patient informatisé</h3>
      </div>
      <div class="cards card-4">
        <%= image_tag "bonhomme.svg", id: "logo" %>
        <h3>Entretien pharmaceutique</h3>
      </div>
      <div class="listes">
        <div class="liste">
          <h3>1 - Gagnez du temps</h3>
          <p>Déclaration automatique au portail AmeliPro, pré-saisie des interventions pharmaceutique.</p>
        </div>
        <div class="liste">
          <h3>2 - Bénéficiez d’un outil connecté</h3>
          <p>Liste start&stopp, Laroche, Anticholinergic Drug Scale, DDI predictor, Thériaque, GPR...</p>
        </div>
        <div class="liste">
          <h3>3 - Collaborez avec les professionnels de santé</h3>
          <p>Envoyez un clic vos avis pharmaceutiques aux différents professionnels de santé.</p>
        </div>
      </div>
      <div class="premier-pas">
        <%= link_to "Premier pas avec bimedoc", " ", class: "btn-purple btn btn-primary" %>
        <p>Tout sur le service, les fonctions et les prix.</p>
      </div>
    </div>


    <div class="services-personnalises">
      <div class="service-personnalise">
          <h2 id="color-blue">Services personnalisés</h2>
      </div>
      <div class="cards enseignement">
        <%= image_tag "enseignant.svg", id: "logo" %>
        <p id="green-bold">Vous êtes enseignant et vous souhaitez utiliser Bimedoc pour vos étudiants ?</p>
        <p>Bimedoc est également un outil  destiné à l’enseignement universitaire des étudiants en pharmacie et en médecine ainsi que pour la formation continue post-universitaire des médecins et pharmaciens. </p>
          <%= link_to "Contactez-nous", " ", class: "btn-gray btn btn-primary" %>
      </div>
      <div class="cards projet">
        <%= image_tag "chimiste.svg", id: "logo" %>
        <p id="green-bold">Vous souhaitez créer une activité d’accompagnement pharmaceutique dans le cadre d’un projet ?</p>
        <p>Bimedoc peut vous accompagner dans la recherche ou la mise en place d’une nouvelle activité dans votre officine ou votre hôpital.</p>
        <%= link_to "Contactez-nous", " ", class: "btn-gray btn btn-primary" %>
      </div>
    </div>

  </div>
</div>
