
<div class="container">


  <div>
    <a href="https://analyse.bimedoc.com/interface/analysis" target="_blank" class="hide_on_mobile">
      <%= image_tag "bimedoc-header-recherche.svg", id: "image-header" %>
    </a>
  </div>
    <div>
    <a href="https://analyse.bimedoc.com/interface/analysis" target="_blank" class="hide_on_destkop">
      <%= image_tag "bimedoc-header-recherche-mobile.svg", id: "image-header-mobile" %>
    </a>
  </div>



    <div class="bloc-cards">
      <div class="sentence-developpe-par">
        <h2>Développé par des pharmaciens <span id="color-blue">pour des pharmaciens</span></h2>
      </div>
      <div class="cards card-1">
        <%= image_tag "check.svg"%>
        <h3>Bilan de médication</h3>
      </div>
      <div class="cards card-2">
        <%= image_tag "prescription.svg"%>
        <h3>Analyse d'ordonnance</h3>
      </div>
      <div class="cards card-3">
        <%= image_tag "dossier.svg"%>
        <h3>Conciliation médicamenteuse</h3>
      </div>
      <div class="cards card-4">
        <%= image_tag "sms.svg" %>
        <h3>Entretien pharmaceutique</h3>
      </div>
      <div class="listes">
        <div class="liste">
          <h3>1 - Gagnez du temps</h3>
          <p>Déclaration automatique au portail AmeliPro, pré-saisie des interventions pharmaceutiques.</p>
        </div>
        <div class="liste">
          <h3>2 - Bénéficiez d’un outil performant</h3>
          <p>Solution permettant de réaliser l'ensemble des activités de pharmacie clinique et de favoriser la pertinence des avis pharmaceutiques</p>
        </div>
        <div class="liste">
          <h3>3 - Collaborez avec les professionnels de santé</h3>
          <p>Envoyez en un clic vos avis pharmaceutiques aux différents professionnels de santé.</p>
        </div>
      </div>
      <div class="premier-pas">
        <%= link_to " 👉 Premiers pas avec Bimedoc", "/fonctionnalites.html", class: "btn-purple btn btn-primary" %>
        <p>Tout sur le service, les fonctions et les prix.</p>
      </div>
    </div>


    <div class="services-personnalises">
      <div class="row">
        <div class="col-xs-12 col-sm-12">
          <div class="service-personnalise">
              <h2>Faites appel à Bimedoc</h2>
              <h2 id="color-blue">pour des services personnalisés</h2>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6">
          <div class="cards-partenaires enseignement">
            <%= image_tag "stylo.svg"%>
            <p id="green-bold">Vous êtes enseignant et vous souhaitez utiliser Bimedoc pour vos étudiants ?</p>
            <p id="texte">Bimedoc est également un outil  destiné à l’enseignement universitaire des étudiants en pharmacie et en médecine ainsi que pour la formation continue post-universitaire des médecins et pharmaciens. </p>
            <a href="mailto:contact@bimedoc.com" class="btn-gray btn btn-primary">Contactez-nous</a>
          </div>
        </div>

        <div class="col-xs-12 col-sm-6">
          <div class="cards-partenaires projet">
            <%= image_tag "etoile.svg"%>
            <p id="green-bold">Vous souhaitez créer une activité d’accompagnement pharmaceutique dans le cadre d’un projet ?</p>
            <p>Bimedoc peut vous accompagner dans la recherche clinique ou la mise en place d’une nouvelle activité dans votre officine ou votre hôpital.</p>
            <a href="mailto:contact@bimedoc.com" class="btn-gray btn btn-primary">Contactez-nous</a>
          </div>
        </div>
      </div>
    </div>

    <div class="partenaires">
      <div class="titre-partenaire">
        <h2>Ils nous font confiance</h2>
        <h2 id="color-blue">Partenaires</h2>
      </div>
      <div class="row padding-left">
        <div class="col-xs-12 col-sm-12 col-lg-3">
          <a href="http://www.theriaque.org/" target="_blank">
            <%= image_tag "theriaque.jpg", id: "logo-partenaire" %>
          </a>
        </div>
         <div class="col-xs-12 col-sm-12 col-lg-3">
          <a href="http://www.lyonfrenchtech.com/" target="_blank">
            <%= image_tag "lyonfrenchtech.svg", id: "logo-partenaire" %>
          </a>
        </div>
        <div class="col-xs-12 col-sm-12 col-lg-3">
          <a href="http://www.urps-pharmaciens-paca.fr/" target="_blank">
            <%= image_tag "urpspaca.svg", id: "logo-partenaire" %>
          </a>
        </div>
        <div class="col-xs-12 col-sm-12 col-lg-3">
          <a href="http://www.h-7.eu/" target="_blank">
            <%= image_tag "H7.jpg", id: "logo-partenaire-h7" %>
          </a>
        </div>
      </div>
    </div>

    <div class="partenaires">
      <div class="titre-partenaire">
        <h2>Ils parlent de nous,</h2>
        <h2 id="color-blue">et nous, on vous en parle !</h2>
      </div>
      <div class="row padding-left">
        <div class="col-xs-12 col-sm-12 col-lg-3">
          <a href="https://www.bimedoc.com/media/bimedoc_pharmaradio_20190410.mp3" target="_blank">
            <%= image_tag "pharmaradio.png", id: "logo-partenaire" %>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

