<!-- Version desktop (hide on mobile) -->
<div class="wrapper" style="background: #002650">
  <div class="container">
    <div class="mt-10" style="text-align:center">
      <%= image_tag "parrainage.png", style: "width:20%" %>
    </div>
    <h1 style="font-weight:600; color:white; text-align:center"  class="mt-1">Vous êtes invités à rejoindre Bimedoc</h1>
    <h3 style="color:white !important; text-align:center"  class="mt-1">Rejoignez Bimedoc et gagnez 1 mois supplémentaire d'abonnement !</h3>
    <div class="mt-2" style="text-align:center">
      <%= link_to " Decouvrez la solution", "/demo.html", class: "btn button_wrapper_bpm_blanc"%>
    </div>
  </div>
</div>




<!-- Version mobile (hide on destkop) -->
<!-- <div class="wrapper hide_on_destkop" style="background: #002650">
  <div class="container">
    <div class="mt-5 mb-5">
      <div class="">
        <h1 style="font-weight:600; color:white"  class="mt-1">La démarche de conciliation médicamenteuse en toute simplicité</h1>
        <h3 style="color:white !important" class="mb-3">Réservez dès maintenant votre démonstration</h3>
          <div class="flex mb-2">
           <i class="fas fa-check fa-s" style="color:white; padding-right: 5vw;"></i><h4 style="color:white !important">Toutes les étapes de la conciliation médicamenteuse réunies dans un seul outil</h4>
          </div>
          <div class="flex mb-2">
           <i class="fas fa-check fa-s" style="color:white; padding-right: 5vw;"></i><h4 style="color:white !important">Assistant d'analyse pharmaceutique intégré</h4>
          </div>
          <div class="flex mb-2">
           <i class="fas fa-check fa-s" style="color:white; padding-right: 5vw;"></i><h4 style="color:white !important">Export pdf à chaque étape</h4>
          </div>
          <div class="flex mb-2">
           <i class="fas fa-check fa-s" style="color:white; padding-right: 5vw;"></i><h4 style="color:white !important">Lien ville hôpital facilité à l'aide de la messagerie sécurisée intégrée</h4>
          </div>
          <div class="flex">
           <i class="fas fa-check fa-s" style="color:white; padding-right: 5vw;"></i><h4 style="color:white !important">Outils statistiques de suivi de l'activité</h4>
          </div>
          <div style="text-align:center;">
            <%= link_to " Demander une démo", "/demo.html", class: "btn button_wrapper_bpm_blanc"%>
          </div>
      </div>
    </div>
    <div style="text-align:center; color:white"><i class="fal fa-arrow-down fa-2x"></i></div>
  </div>
</div> -->


<section id="section-7" class="transition-section grey convex spc-top--none spc-bottom--none">
  <svg viewBox="0 0 1440 67" version="1.1" class="bottom-convex-grey">
  <g id="bottom-convex" transform="translate(0.000000, -1365.000000)">
  <g id="Group-7" transform="translate(0.000000, 783.000000)" fill="#002650">
  <g id="hero">
  <path d="M0,582 C194.22075,605.310855 345.235831,619.383493 453.045242,624.217915 C539.007013,628.072638 627.991932,630 720,630 C985.09668,630 1225.09668,614 1440,582 L0,582 Z" id="background/circular-shape-1"></path>
  </g>
  </g>
  </g>
</svg>
</section>


<div class="container mb-5">
  <h3 style="text-align: center; font-weight: bold !important" class="mt-4 mb-1">Rejoignez plus de 800 pharmaciens qui simplifient leur quotidien avec Bimedoc</h3>
  <div class="flex center hide_on_mobile">
    <div class="text-center mr-3 ml-3">
      <%= image_tag "apm.png", id: "logo-client" %>
    </div>
    <div class="text-center mr-4 ml-4">
      <%= image_tag "nep.png", id: "logo-client" %>
    </div>
    <div class="text-center mr-4 ml-4">
      <%= image_tag "g1000.png", id: "logo-client" %>
    </div>
    <div class="text-center mr-4 ml-4">
      <%= image_tag "pgs.png", id: "logo-client" %>
    </div>
    <div class="text-center mr-4 ml-4">
      <%= image_tag "orphie.png", id: "logo-client" %>
    </div>
  </div>
</div>

<div class="container mt-10">
  <h2 style="text-align:center">Bimedoc a pour mission de vous faire gagner du temps et de simplifier votre quotidien.</h2>
  <p style="text-align:center" class="mt-1">En vous inscrivant sur Bimedoc, vous bénéficiez de fonctionnalités sur mesure créées avec nos pharmaciens clients pour répondre aux besoins du terrain.</p>
</div>

<div class="container mt-10">
  <div class="row">
    <div class="col-xs-12 col-md-6 mt-2">
      <div class="pb-2" style="background: #f5f5f5; border-radius: 8px; text-align: center">
        <%= image_tag "parrainage_covid.png", id: "logo-client" %>
        <h2 style="text-align:center" class="pt-1 pb-1">COVID-19</h2>
        <p style="text-align:center">Prise de rdv en ligne</p>
        <p style="text-align:center">Agenda</p>
        <p style="text-align:center">Test AG</p>
        <p style="text-align:center">Vaccination</p>
        <p style="text-align:center">Liste d’attente</p>
        <p style="text-align:center">Synchronisation SI-DEP</p>
      </div>
    </div>
    <div class="col-xs-12 col-md-6 mt-2">
      <div class="pb-6" style="background: #f5f5f5; border-radius: 8px; text-align: center">
        <%= image_tag "parrainage_entretien.png", id: "logo-client" %>
        <h2 style="text-align:center" class="pt-1 pb-1">Entretien pharmaceutique</h2>
        <p style="text-align:center">Bilan partagé de médication</p>
        <p style="text-align:center">Entretien pharmaceutique anticoagulant</p>
        <p style="text-align:center">Entretien pharmaceutique chimiothérapie orale (à venir)</p>
        <p style="text-align:center">Plan de prise</p>
      </div>
    </div>
  </div>
</div>

<div class="container mt-10 mb-10">
  <div class="row">
    <div class="col-xs-12 col-md-6 pt-4">
      <p style="font-size:100px; text-align:center; color: black;">41 398</p>
    </div>
    <div class="col-xs-12 col-md-6">
      <h2 style="text-align: center" class="mt-2 hide_on_destkop">Tests antigéniques ont été déclarés au SI-DEP via Bimedoc depuis le 01 mars 2021</h2>
      <h2 style="" class="hide_on_mobile">Tests antigéniques ont été déclarés au SI-DEP via Bimedoc depuis le 01 mars 2021</h2>
    </div>
  </div>
</div>



<!-- <div class="section-border reverse mt-5">
  <svg class="bottom-concave-white" style="background:#002650" viewBox='0 0 1440 48' version='1.1'>
    <g id='bottom-concave' transform='translate(0.000000, -436.000000)'>
    <g id='Group-6' fill='white' fill-rule='nonzero'>
    <path d='M1440,484 C1225.09668,452 985.09668,436 720,436 C627.991932,436 539.007013,437.927362 453.045242,441.782085 C345.235831,446.616507 194.22075,460.689145 0,484 L0,436 L1440,436 L1440,484 Z' id='background-circular-shape-2'></path>
    </g>
    </g>
  </svg>
</div>
<div class="wrapper" style="background: #002650">
  <div class="container">
    <h2 style="text-align: center; color:white" class="mt-2">Profitez de l'ensemble des technologies Bimedoc</h2>
    <div class="row">
      <div class="col-xs-12 col-lg-6 mt-5">
        <div style="background: white; border-radius: 8px" class= "pt-2 pb-2 pr-2 pl-2">
          <p class="black"><i class="fad fa-camera-alt oval-green"></i><span style="padding-left:15px">Bimedoc Reco </span><i class="far fa-registered"></i></p>
          <p>Prenez tout simplement l'ordonnance du patient en photo et notre techonlogie Bimedoc Reco <i class="far fa-registered"></i> retranscrira l'ensemble des informations de l'ordonnance de manière structurée (DCI et/ou spécialité pharmaceutique, dose, forme galénique).</p>
        </div>
      </div>
      <div class="col-xs-12 col-lg-6 mt-5">
        <div style="background: white; border-radius: 8px" class= "pt-2 pb-2 pr-2 pl-2">
          <p class="black"><i class="fad fa-network-wired oval-blue"></i><span style="padding-left:15px">Bimedoc Expert </span><i class="far fa-registered"></i></p>
          <p>Retrouver dans un seul outil l'ensemble des ressources utiles à l'analyse pharmaceutique des prescriptions sans re-saisies des informations (intéractions médicamenteuses, alternatives de forme galénique, médicaments inappropriés ...).</p>
        </div>
      </div>
      <div class="col-xs-12 mt-5 mb-5">
        <div style="background: white; border-radius: 8px" class= "pt-2 pb-2 pr-2 pl-2">
          <p class="black"><i class="fad fa-address-book oval-red">
          </i><span style="padding-left:15px">Annuaire MSSanté </span></p>
          <p>Retrouvez l'ensemble des adresse mails sécurisée des professionnels de santé équipés d'une messagerie sécurisée d'un des opérateurs MSSanté (Mailiz, Lifen, Enovacom, etc.) aussi simplement qu'une recherche google;</p>
        </div>
      </div>
    </div>
  </div>
</div> -->




<div class="wrapper wrapper_bimedoc">
  <div class="wrapper_bpm">
    <h2>Vous êtes intéréssé par notre solution ?</h2>
    <p>N'hésitez pas à nous demander des informations.</p>
    <div class="deux-boutons">
      <%= link_to "07 80 91 98 24", "", class: "btn button_wrapper_bpm" %>
      <%= link_to "Demander une démo", "/demo.html", class: "btn button_wrapper_bpm_blanc"%>
      <%= link_to "contact@bimedoc.com", "", class: "btn button_wrapper_bpm", target: "_blank" %>
    </div>
  </div>
</div>
