<div class="container">
  <div class="mt-15 text-center">
    <h2>Une solution qui vous permet de réaliser vos activités d'accompagnement pharmaceutique en toute simplicité</h2>
  </div>

  <div class="mt-5">
    <div class="text-center">
      <!-- Nav tabs -->
      <ul class="nav btn-group nav-tabs bouton-groupe bouton-group-centre" role="tablist">
        <li role="presentation" class="active"><a href="#bpm" aria-controls="bpm" role="tab" data-toggle="tab">Bilan partagé de médication</a></li>
        <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Assistant d'analyse pharmaceutique</a></li>
        <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Envoi de documents médicaux</a></li>
      </ul>
    </div>


    <!-- Tab panes -->
    <!-- ########## -->
    <!-- ######TAB BILAN MEDICATION###### -->
    <!-- ############ -->
    <div class="tab-content mt-4">
      <div role="tabpanel" class="tab-pane active" id="bpm">
        <h3 class="text-center">Bimedoc vous permet de diminuer le temps de réalisation de vos BPM par deux</h3>
<!--         #########
        VERSION DESTKOP
        ######## -->
        <div class="hide_on_mobile">
          <div class="row hauteur mt-2">
            <div class="col-xs-12 col-sm-6 gauche pt-4 pb-4">
              <p class="pl-1 pr-3 text-left">1 - Le pharmacien complète le <b>formulaire de recueil des données</b></p>
              <div class="ensemble-icone">
                <div class="position-icone">
                  <i class="fad fa-users-medical fa-2x icone"></i>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 droite pt-4 pb-4 pl-4">
              <%= image_tag "observance.png", class: "image_bpm box-shadow-gray"%>
            </div>
          </div>
          <div class="row hauteur">
            <div class="col-xs-12 col-sm-6 gauche pt-4 pb-4">
              <p class="pl-1 pr-3 text-left">2 - <b>L'assistant d'analyse pharmaceutique intégré</b> soumet au pharmacien un certain nombre d’alertes</b>
              <div class="ensemble-icone">
                <div class="position-icone">
                  <i class="fad fa-brain fa-2x icone"></i>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 droite pt-4 pb-4">
              <p class="pl-1 pr-3"></p>
            </div>
          </div>
          <div class="row hauteur">
            <div class="col-xs-12 col-sm-6 gauche pt-4 pb-4">
              <p class="pl-1 pr-3 text-left">3 - Le pharmacien sélectionne les alertes les plus pertinentes puis Bimedoc crée un <b>courrier de synthèse pharmaceutique</b></p>
              <div class="ensemble-icone">
                <div class="position-icone">
                  <i class="fad fa-clipboard-list-check fa-2x icone"></i>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 droite pt-4 pb-4 pl-4">
              <%= image_tag "assistant.png", class: "image_bpm decalerverslehaut box-shadow-gray"%>
            </div>
          </div>
          <div class="row hauteur">
            <div class="col-xs-12 col-sm-6 gauche pt-4 pb-4">
              <p class="pl-1 pr-3 text-left"></p>
            </div>
            <div class="col-xs-12 col-sm-6 droite pt-4 pb-4">
              <p class="pl-3">4 - Le pharmacien peut alors envoyer la synthèse par <b>messagerie </b> au médecin traitant directement depuis l'application</p>
              <div class="ensemble-icone-left">
                <div class="position-icone">
                  <i class="fad fa-paper-plane fa-2x icone"></i>
                </div>
              </div>
            </div>
          </div>
          <div class="row hauteur">
            <div class="col-xs-12 col-sm-6 pt-4 pb-4 gauche">
              <%= image_tag "annuaire.png", class: "image_bpm decalerverslehaut box-shadow-gray"%>
            </div>
            <div class="col-xs-12 col-sm-6 droite pt-4 pb-4">
              <p class="pl-3">5 - le <b>médecin reçoit un mail contenant un lien</b> qu'il pourra directement ouvrir depuis son ordinateur ou smartphone ...</p>
              <div class="ensemble-icone-left">
                <div class="position-icone">
                  <i class="fad fa-mailbox fa-2x icone"></i>
                </div>
              </div>
            </div>
          </div>
          <div class="row hauteur">
            <div class="col-xs-12 col-sm-6 gauche pt-4 pb-4">
              <p class="pl-1 pr-3 text-left">6 - ... et il pourra <b>directement vous répondre</b> en prenant connaissance des informations du patient ainsi que de vos avis pharmaceutiques.</p>
              <div class="ensemble-icone">
                <div class="position-icone">
                  <i class="fad fa-external-link fa-2x icone"></i>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 droite pt-4 pb-4">
              <p class="pl-1 pr-3"></p>
            </div>
          </div>
          <div class="row hauteur">
            <div class="col-xs-12 col-sm-6 gauche pt-4 pb-4">
              <%= image_tag "plandeprise.png", class: "image_bpm box-shadow-gray"%>
            </div>
            <div class="col-xs-12 col-sm-6 droite pt-4 pb-4">
              <p class="pl-3">7 - Le pharmacien génère automatiquement un <b>plan de prise</b> pour le patient avec la possibilité d’y associer des conseils personnalisés</p>
              <div class="ensemble-icone-left">
                <div class="position-icone">
                  <i class="fad fa-tablets fa-2x icone"></i>
                </div>
              </div>
            </div>
          </div>
          <div class="row hauteur">
            <div class="col-xs-12 col-sm-6 gauche pt-4 pb-4">
              <p class="pl-1 pr-3 text-left">8 - Enfin, la <b>déclaration sur AmeliPro</b> est automatiquement faite depuis l’application</p>
              <div class="ensemble-icone">
                <div class="position-icone">
                  <i class="fad fa-shield-check fa-2x icone"></i>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 droite pt-4 pb-4">
              <p class="pl-1 pr-3"></p>
            </div>
          </div>
        </div>


<!--         #########
        VERSION MOBILE
        ######## -->
        <div class="hide_on_destkop">
          <div class="row mt-2">
            <div class="col-xs-12 pt-4 pb-2 pl-4">
              <p class="ml-2 text-left">1 - Le pharmacien complète le <b>formulaire de recueil des données</b></p>
              <div class="ensemble-icone-left">
                <div class="position-icone">
                  <i class="fad fa-users-medical fa-2x icone"></i>
                </div>
              </div>
            </div>
          </div>
          <div class="row ">
            <div class="col-xs-12 col-sm-6 pt-2 pb-2 pl-4">
              <p class="ml-2 text-left">2 - <b>L'assistant d'analyse pharmaceutique intégré</b> soumet au pharmacien un certain nombre d’alertes</b>
              <div class="ensemble-icone-left">
                <div class="position-icone">
                  <i class="fad fa-brain fa-2x icone"></i>
                </div>
              </div>
            </div>
          </div>
          <div class="row ">
            <div class="col-xs-12 col-sm-6 pt-2 pb-4 pl-4">
              <p class="ml-2 text-left">3 - Le pharmacien sélectionne les alertes les plus pertinentes puis Bimedoc crée un <b>courrier de synthèse pharmaceutique</b></p>
              <div class="ensemble-icone-left">
                <div class="position-icone">
                  <i class="fad fa-clipboard-list-check fa-2x icone"></i>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 text-center">
              <%= image_tag "assistant.png", class: "image_bpm box-shadow-gray"%>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-6 pt-4 pb-4 pl-4">
              <p class="ml-2 text-left">4 - Le pharmacien peut alors envoyer la synthèse par <b>messagerie </b> au médecin traitant directement depuis l'application</p>
              <div class="ensemble-icone-left">
                <div class="position-icone">
                  <i class="fad fa-paper-plane fa-2x icone"></i>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 text-center">
              <%= image_tag "annuaire.png", class: "image_bpm box-shadow-gray"%>
            </div>
            <div class="col-xs-12 pt-4 pb-2 pl-4">
              <p class="ml-2 text-left">5 - le <b>médecin reçoit un mail contenant un lien</b> qu'il pourra directement ouvrir depuis son ordinateur ou smartphone ...</p>
              <div class="ensemble-icone-left">
                <div class="position-icone">
                  <i class="fad fa-mailbox fa-2x icone"></i>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-6 pt-2 pb-4 pl-4">
              <p class="ml-2 text-left">6 - ... et il pourra <b>directement vous répondre</b> en prenant connaissance des informations du patient ainsi que de vos avis pharmaceutiques.</p>
              <div class="ensemble-icone-left">
                <div class="position-icone">
                  <i class="fad fa-external-link fa-2x icone"></i>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 text-center">
              <%= image_tag "plandeprise.png", class: "image_bpm box-shadow-gray"%>
            </div>
            <div class="col-xs-12 pt-4 pb-2 pl-4 ">
              <p class="ml-2 text-left">7 - Le pharmacien génère automatiquement un <b>plan de prise</b> pour le patient avec la possibilité d’y associer des conseils personnalisés</p>
              <div class="ensemble-icone-left">
                <div class="position-icone">
                  <i class="fad fa-tablets fa-2x icone"></i>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-6 pt-2 pb-4 pl-4">
              <p class="ml-2 text-left">8 - Enfin, la <b>déclaration sur AmeliPro</b> est automatiquement faite depuis l’application</p>
              <div class="ensemble-icone-left">
                <div class="position-icone">
                  <i class="fad fa-shield-check fa-2x icone"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


      <!-- ########## -->
      <!-- ######TAB ANALYSE PHARMACEUTIQUE###### -->
      <!-- ############ -->
      <div role="tabpanel" class="tab-pane" id="profile">
        <h3 class="text-center">L'assistant d'analyse pharmaceutique Bimedoc vous permet de trouver de l'information fiable, pertinente et validé sur les médicaments</h3>
        <div class="row mb-4">
                    <div class="col-xs-12 col-sm-6 ">
            <div class="vertical_align_60">
              <div class="centre-verticalement_50_100">
                <h3 class=pb-1>Monographies des médicaments</h3>
                <p>Accès à l'ensemble des monographies des médicaments commercialisés sur le marché français</p>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 vertical_align_60">
            <div class="centre-verticalement_50_100">
              <%= image_tag "monographie.png", class: "image_bpm box-shadow-gray"%>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 ">
            <div class="vertical_align_60">
              <div class="centre-verticalement_50_100">
                <h3 class=pb-1>Interactions médicamenteuses</h3>
                <p>Référentiels des interactions médicamenteuses de l’ANSM, interactions avec les plantes médicinales, le jus de pamplemousse...</p>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 vertical_align_60">
            <div class="centre-verticalement_50_100">
              <%= image_tag "assistant.png", class: "image_bpm box-shadow-gray"%>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 vertical_align_60">
            <div class="centre-verticalement_50_100">
              <%= image_tag "inaproprie.png", class: "image_bpm box-shadow-gray"%>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 ">
            <div class="vertical_align_60">
              <div class="centre-verticalement_50_100">
                <h3 class=pb-1>Détection des médicaments inappropriés</h3>
                <div class=flex>
                  <i class="fal fa-check oval_14px fa-xs"></i><p>Stopp & Start</p>
                </div>
                <div class=flex>
                  <i class="fal fa-check oval_14px fa-xs"></i><p>Laroche</p>
                </div>
                <div class=flex>
                  <i class="fal fa-check oval_14px fa-xs"></i><p>Anticholinergic Drug Scale</p>
                </div>
                <div class=flex>
                  <i class="fal fa-check oval_14px fa-xs"></i><p>Médicaments déconseillés en cas de déficit en G6PD</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 ">
            <div class="vertical_align_60">
              <div class="centre-verticalement_50_100">
                <h3 class=pb-1>Problème de forme galénique</h3>
                <p>Liste sur les médicaments per os concernant l'écrasement des comprimés et l'ouverture des gélules (HAS, Thériaque, OMéDIT Haute Normandie, SFPC)</p>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 vertical_align_60">
            <div class="centre-verticalement_50_100">
              <%= image_tag "alternativegalenique.png", class: "image_bpm box-shadow-gray"%>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 vertical_align_60">
            <div class="centre-verticalement_50_100">
              <%= image_tag "indesirable.jpg", class: "image_bpm box-shadow-gray"%>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 ">
            <div class="vertical_align_60">
              <div class="centre-verticalement_50_100">
                <h3 class=pb-1>Effets indésirables</h3>
                <p>Recherche des médicaments pouvant engendrer un effet indésirable et classification par ordre de fréquence</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- ########## -->
      <!-- ######TAB MESSAGERIE SECURISEE###### -->
      <!-- ############ -->
      <div role="tabpanel" class="tab-pane" id="messages">
        <h3 class="text-center">Bimedoc vous permet de communiquer avec les autres professionnels de santé de façon simple et sécurisée</h3>
        <div class="row hauteur mt-2">
          <div class="col-xs-12 col-sm-6 gauche pt-4 pb-4">
            <p class="pl-1 pr-3 text-left">1 - Le pharmacien <b>sélectionne le document</b> qu'il souhaite transmettre à un autre professionnel de santé</p>
            <div class="ensemble-icone">
              <div class="position-icone">
                <i class="fad fa-lasso fa-2x icone"></i></i>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 droite pt-4 pb-4">
            <p class="pl-1 pr-3"></p>
          </div>
        </div>
        <div class="row hauteur">
          <div class="col-xs-12 col-sm-6 pt-4 pb-4">
            <%= image_tag "annuaire.png", class: "image_bpm box-shadow-gray"%>
          </div>
          <div class="col-xs-12 col-sm-6 droite pt-4 pb-4">
            <p class="pl-3">2 - il suffit alors de <b>rechercher le destinataire dans l'annuaire  des professionnels de santé</b></p>
            <div class="ensemble-icone-left">
              <div class="position-icone">
                <i class="fad fa-paper-plane fa-2x icone"></i>
              </div>
            </div>
            <p class="pl-3">Bimedoc retrouve automatiquement l'adresse mail sécurisée du professionnel de santé</p>
          </div>
        </div>
        <div class="row hauteur">
          <div class="col-xs-12 col-sm-6 pt-4 pb-4">
            <p class="pl-1 pr-3"></p>
          </div>
          <div class="col-xs-12 col-sm-6 droite pt-4 pb-4">
            <p class="pl-3">3 - <b>Le destinataire reçoit le document</b> instantanément dans sa messagerie sécurisée.</b></p>
            <div class="ensemble-icone-left">
              <div class="position-icone">
                <i class="fad fa-mailbox fa-2x icone"></i>
              </div>
            </div>
          </div>
        </div>
        <h3 class="mt-2 mb-2 text-center">Bimedoc vous permet ainsi de gagner du temps et d'établir un relation de confiance avec les autres professionnels de santé.</h3>
        <div class="text-center mt-2 mb-4">
          <%= image_tag "mssante_apicrypt_dmp.png", class: "image_bpm_50"%>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="wrapper wrapper_bimedoc">
  <div class="wrapper_bpm">
    <h2>Développé par des pharmaciens, pour des pharmaciens</h2>
    <div class="deux-boutons">
      <%= link_to "Je m'inscris maintenant", "https://app.bimedoc.com/auth/signup", class: "btn button_wrapper_bpm", target: "_blank" %>
      <%= link_to "Demander une démo", "/demo.html", class: "btn button_wrapper_bpm_blanc"%>
    </div>
    <p>30 € / Mois (HT) & Pharmacie, sans engagement</p>
  </div>
</div>
