<div style="background: #0A73FE" >
  <div class="flex ml-4 mr-4">
    <div class="mt-1 mb-1">
      <%= image_tag "logo.svg", class: "img_size_5" %>
    </div>
    <div class=" ml-1">
      <h3 style="color: white !important" class="ml-1">Groupement Bimedoc</h3>
    </div>
  </div>
</div>


<div class="container">
  <div class="row mt-2">
    <div class="col-xs-12 mb-1">
      <h1 style="text-align: center">Pharmacie Bimedoc</h1>
    </div>
    <div class="col-md-6">
      <%= image_tag "booth.jpg", class: "radius-20 mb-1 img_size_40" %>
    </div>
    <div class="col-md-6">
      <table class="table">
        <thead>
          <p style="text-align: center"><b>Horaire d'ouverture</b></p>
        </thead>
        <tbody>
          <tr>
            <th>Lundi</th>
            <td>8h00 - 13h00 · 14h15 - 19h00</td>
          </tr>
           <tr>
            <th>Mardi</th>
            <td>8h00 - 13h00 · 14h15 - 19h00</td>
          </tr>
           <tr>
            <th>Mercredi</th>
            <td>8h00 - 13h00 · 14h15 - 19h00</td>
          </tr>
          <tr>
            <th>Jeudi</th>
            <td>8h00 - 13h00 · 14h15 - 19h00</td>
          </tr>
          <tr>
            <th>Vendredi</th>
            <td>8h00 - 13h00 · 14h15 - 19h00</td>
          </tr>
          <tr>
            <th>Samedi</th>
            <td>8h00 - 13h00</td>
          </tr>
          <tr>
            <th>Dimanche</th>
            <td>Fermé</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
    <div class="row mt-3">
      <div class="col-md-6">
        <p class="black"><i class="fas fa-map-marker icone_blue"></i> 112 Rue Moncey, 69003 Lyon, France</p>
        <p class="black"><i class="fas fa-phone icone_blue"></i> 04 78 60 27 62</p>
        <p class="black"><i class="fas fa-envelope icone_blue"></i> contact@pharmacie-bimedoc.fr</p>
      </div>
      <div class="col-xs-12 col-md-6">
        <div class="deux-boutons mt-2">
          <div class="mt-1">
  <!--           <%= link_to " Prendre rendez-vous", "/demo.html", class: "btn-blue-radius30 btn btn-primary"%> -->
            <!-- Button trigger modal -->
            <button type="button" class="btn-blue-radius30 btn btn-primary" data-toggle="modal" data-target="#myModal">
              Prendre rendez-vous
            </button>
          </div>
          <div class="mt-1">
            <%= link_to "Déposer votre ordonnance", "", class: "btn-white-radius30 btn mt-1"%>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mb-5 mt-5">
    <div class="col-xs-12 mb-2">
      <h3 style="text-align: center">Nos services</h3>
    </div>
    <div class="col-md-4" style="text-align: center">
      <i class="fad fa-syringe icone_blue fa-4x"></i>
      <p class="mt-1"><b>Vaccination</b></p>
    </div>
    <div class="col-md-4" style="text-align: center">
      <i class="fad fa-sign icone_blue fa-4x"></i>
      <p class="mt-1"><b>Test antigénique COVID-19</b></p>
    </div>
    <div class="col-md-4" style="text-align: center">
      <i class="fad fa-user-friends icone_blue fa-4x"></i>
      <p class="mt-1"><b>Entretien pharmaceutique</b></p>
    </div>
  </div>
  <div class="row mt-2 mb-5">
    <div class="col-xs-12 mb-2">
      <h3 style="text-align: center">Notre équipe vous accueille du lundi au samedi</h3>
    </div>
    <div class="col-md-4">
      <%= image_tag "titulaire-homme.svg", class: "img_equipe" %>
      <p style="text-align: center"><b>Christophe Guidoni</b></p>
      <p style="text-align: center">Pharmacien Titulaire</p>
    </div>
    <div class="col-md-4">
      <%= image_tag "preparateur-femme.svg", class: "img_equipe" %>
      <p style="text-align: center"><b>Anne-Claire Allard</b></p>
      <p style="text-align: center">Pharmacien Titulaire</p>
    </div>
    <div class="col-md-4">
      <%= image_tag "titulaire-homme.svg", class: "img_equipe" %>
      <p style="text-align: center"><b>Bertrand</b></p>
      <p style="text-align: center">Pharmacien Titulaire</p>
    </div>
  </div>
</div>



<div style="background: #0A73FE" class="mt-5" >
<br>
<br>
</div>




<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-megamenu" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <iframe src="https://app.bimedoc.com/#/application/scheduler/5e8bbc38-4fc1-46bd-82b8-2609828c44d8" scrolling="no" frameborder="0" style="height: 730px; width: 100%"></iframe>
      </div>
    </div>
  </div>
</div>


