<div class="mt-10 mb-10 container grid-list-xl fluid">
  <h2 class="text-center" id="color-blue">Sous le capot</h2>
  <div class="flex row wrap mt-5">
    <div class="col-md-4 col-sm-6 col-xs-12 mt-1">
      <div class="card-stack pt-1 pb-1 pl-1 pr-1">
        <div class="text-center">
          <%= image_tag "github.jpg", id: "logo-stack" %>
        </div>
        <p class="pt-2">Github est notre forge logicielle. Il nous permet aussi de piloter le déploiement continu à l'aide de CircleCI et d'héberger les artefacts que nous produisons. En plus de faire un outil que nous apprécions vraiment, Github. est une source d'inspiration pour nos projet futur opensource.</p>
      </div>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12 mt-1">
      <div class="card-stack pt-1 pb-1 pl-1 pr-1">
        <div class="text-center">
          <%= image_tag "django.png", id: "logo-stack" %>
        </div>
        <p class="pt-2">Django est un cadre de développement web open source en Python. Il a pour but de rendre le développement web 2.0 simple et rapide. Il nous permet de construire nos APIs facilement et de manière performante.</p>
      </div>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12 mt-1">
      <div class="card-stack pt-1 pb-1 pl-1 pr-1">
        <div class="text-center">
          <%= image_tag "python.png", id: "logo-stack" %>
        </div>
        <p class="pt-2">Python (version 3) est un langage de programmation interprété, multi-paradigme et multiplateformes. Il favorise la programmation impérative structurée, fonctionnelle et orientée objet.</p>
      </div>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12 mt-1">
      <div class="card-stack pt-1 pb-1 pl-1 pr-1">
        <div class="text-center">
          <%= image_tag "angular.png", id: "logo-stack" %>
        </div>
        <p class="pt-2">Angular (version 8) est une librairie permettant de créer des applications riches et réactives. Nous avons été séduits par sa simplicité et la rapidité avec laquelle nous l'avons prise en main</p>
      </div>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12 mt-1">
      <div class="card-stack pt-1 pb-1 pl-1 pr-1">
        <div class="text-center">
          <%= image_tag "sass.jpg", id: "logo-stack" %>
        </div>
        <p class="pt-2">Sass est un langage dynamique de génération de feuilles de style en cascade</p>
      </div>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12 mt-1">
      <div class="card-stack pt-1 pb-1 pl-1 pr-1">
        <div class="text-center">
          <%= image_tag "postgre.png", id: "logo-stack" %>
        </div>
        <p class="pt-2">PostgreSQL est un système de gestion de base de données relationnelle et objet.</p>
      </div>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12 mt-1">
      <div class="card-stack pt-1 pb-1 pl-1 pr-1">
        <div class="text-center">
          <%= image_tag "aws.png", id: "logo-stack" %>
        </div>
        <p class="pt-2">Amazon Web Services (AWS) est la plate-forme cloud la plus complète et la plus largement adoptée au monde qui est hébergeur agréé données de santé par l'agence du numérique en santé. Elle propose plus de 175 services complets issus de centres de données du monde entier. Elle nous permet de travailler en toute agilité et d'innover le plus rapidement possible.</p>
      </div>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12 mt-1">
      <div class="card-stack pt-1 pb-1 pl-1 pr-1">
        <div class="text-center">
          <%= image_tag "linux.svg", id: "logo-stack" %>
        </div>
        <p class="pt-2">Notre backend tourne sur l'Operating System Linux.</p>
      </div>
    </div>
  </div>
</div>
